{% extends 'rdss_base.html' %}

{% block 'custom_head' %}
    <title>企業滿意度問卷 | OpenHouse 企業校園徵才</title>
{% endblock %}


{% block 'content' %}
    <style>
        .ui.checkbox {
            margin-right: 2em;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.ui.checkbox').checkbox();
        })
    </script>
    <h1 class="ui dividing header">Open House 秋季招募 - 國立陽明交通大學畢業生企業滿意度問卷</h1>
    <div class="ui segment">
        感謝貴公司長久以來對本校的支持與愛護，本校就業與升學輔導組為了建立校友就業相關資料，以期瞭解業界對本校畢業生的指教，做為本校改善教學以及推展研究的重要參考，<b style=color:red>數據僅作為校內教學研究用途，亦不對外公開。</b>

        若有任何問題，請致電(03)5131365或03-5712121分機31365、50659（吳文鈴），謝謝您的協助！

    </div>

    {% if msg_display or my_survey %}
        <div class="ui {{ msg_type }} message">
            {{ msg_content }}
        </div>
    {% endif %}

    <form class="ui form" method="POST" action="">

        {% csrf_token %}
        <div class="ui segment">
            <h2 class="ui dividing header" style="color:red">一、境外生實習就業機會調查表</h2>
            <p>
                陽明交通大學國際事務處為提升產業與學術的交流機會，欲尋求願意提供境外生(包括外籍學生、僑生、陸生)就業機會及實習機會的企業進行合作，懇請有意參與此合作計畫的企業撥冗填寫問卷，本處將會提供更詳細的產學合作資訊，感謝您的協助。</p>
            <table class="ui celled striped table">
                <tr>
                    <td>企業英文名稱</td>
                    <td>{{ form.english_name }}</td>
                </tr>
                <tr>
                    <td>境外生參與</td>
                    <td>
                        <div class="ui checkbox">
                            {{ form.os_serve }}
                            <label>是否歡迎境外生參與貴公司就業博覽會相關徵才活動?(攤位諮詢、說明會)，「是」請打勾。</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>境外生正職</td>
                    <td>
                        <p>是否有開放"正式職缺"給以下境外生申請?，「不開放」則免勾。</p>
                        <div class="ui checkbox">
                            {{ form.os_for_ftime }}
                            <label>外籍生</label>
                        </div>
                        <div class="ui checkbox">
                            {{ form.os_osc_ftime }}
                            <label>僑生</label>
                        </div>
                        <div class="ui checkbox">
                            {{ form.os_cn_ftime }}
                            <label>陸生</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>境外生實習</td>
                    <td>
                        <p>是否有開放"實習機會"給以下境外生申請?(寒暑期實習/學期實習)，「不開放」則免勾。</p>
                        <div class="ui checkbox">
                            {{ form.os_for_intern }}
                            <label>外籍生</label>
                        </div>
                        <div class="ui checkbox">
                            {{ form.os_osc_intern }}
                            <label>僑生</label>
                        </div>
                        <div class="ui checkbox">
                            {{ form.os_cn_intern }}
                            <label>陸生</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>其他能力要求</td>
                    <td>
                        <p>境外生須具備之能力及相關要求? (例如：領域限制、語言能力、學位別、國籍等；無則免填)</p>
                        {{ form.os_other_required }}
                    </td>
                </tr>
                <tr>
                    <td>外籍生說明會</td>
                    <td>
                        <div class="ui checkbox">
                            {{ form.os_seminar }}
                            <label>是否有舉辦外籍生說明會之需求?「是」請打勾。</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ui segments">
            <div class="ui segment">
                <h2 class="ui dividing header" style="color:red">二、企業滿意度問卷 (核心能力與職場表現等)</h2>
            </div>
            <div class="ui raised segments">
                <div class="ui teal segment">
                    <h3 class="ui dividing header">(1) 下列內容請你針對相關敘述，填寫人數，並選擇適當的選項</h3>
                    <div class="ui message">
                        若貴企業目前並無本校畢業生，人數請填0，滿意度則留空
                    </div>
                    <table class="ui celled striped table">
                        <thead>
                        <tr>
                            <th>本校畢業生最高學歷</th>
                            <th>大學(人)</th>
                            <th>碩士(人)</th>
                            <th>博士(人)</th>
                            <th>平均滿意度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>電機學院 - <small>電子電機、光電、電控、電信、生醫等</small></td>
                            <td>{{ form.ee_bachelor }}</td>
                            <td>{{ form.ee_master }}</td>
                            <td>{{ form.ee_phd }}</td>
                            <td style="width:10em">{{ form.ee_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>資訊學院 - <small>資工、資科、網工、多媒體、數據科學等</small></td>
                            <td>{{ form.cs_bachelor }}</td>
                            <td>{{ form.cs_master }}</td>
                            <td>{{ form.cs_phd }}</td>
                            <td>{{ form.cs_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>管理學院 - <small>管科、運管、工工、資管財金、經管、科管、企管等</small></td>
                            <td>{{ form.manage_bachelor }}</td>
                            <td>{{ form.manage_master }}</td>
                            <td>{{ form.manage_phd }}</td>
                            <td>{{ form.manage_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>生命科學院 - <small>生命科學基因、神經科學、微生物、生物醫學、微生物及免疫所等</small></td>
                            <td>{{ form.ls_bachelor }}</td>
                            <td>{{ form.ls_master }}</td>
                            <td>{{ form.ls_phd }}</td>
                            <td>{{ form.ls_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>生物科技學院 - <small>生物科技、分子醫學、生物工程</small></td>
                            <td>{{ form.bio_bachelor }}</td>
                            <td>{{ form.bio_master }}</td>
                            <td>{{ form.bio_phd }}</td>
                            <td>{{ form.bio_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>生物醫學暨工程學院 - <small>醫學生物技術、生物醫學影像、物理治療、放射、生物光電等</small></td>
                            <td>{{ form.bse_bachelor }}</td>
                            <td>{{ form.bse_master }}</td>
                            <td>{{ form.bse_phd }}</td>
                            <td>{{ form.bse_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>理學院 - <small>電物、應數、應化、統計、物理等</small></td>
                            <td>{{ form.sci_bachelor }}</td>
                            <td>{{ form.sci_master }}</td>
                            <td>{{ form.sci_phd }}</td>
                            <td>{{ form.sci_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>工學院 - <small>土木、機械、材料、奈米、環工等</small></td>
                            <td>{{ form.eng_bachelor }}</td>
                            <td>{{ form.eng_master }}</td>
                            <td>{{ form.eng_phd }}</td>
                            <td>{{ form.eng_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>人文社會學院 - <small>外文、傳播所、應藝所、社會文化所、教育所、音樂所、建築所等</small></td>
                            <td>{{ form.hs_bachelor }}</td>
                            <td>{{ form.hs_master }}</td>
                            <td>{{ form.hs_phd }}</td>
                            <td>{{ form.hs_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>人文與社會科學院 - <small>科技社會所、視覺文化所、心智哲學所等</small></td>
                            <td>{{ form.hss_bachelor }}</td>
                            <td>{{ form.hss_master }}</td>
                            <td>{{ form.hss_phd }}</td>
                            <td>{{ form.hss_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>客家文化學院 - <small>人社系、傳科系、客家社會與文化等</small></td>
                            <td>{{ form.haka_bachelor }}</td>
                            <td>{{ form.haka_master }}</td>
                            <td>{{ form.haka_phd }}</td>
                            <td>{{ form.haka_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>牙醫學院 - <small>牙醫、口腔生物所</small></td>
                            <td>{{ form.den_bachelor }}</td>
                            <td>{{ form.den_master }}</td>
                            <td>{{ form.den_phd }}</td>
                            <td>{{ form.den_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>光電學院 - <small>光電系統、照明與能源、影像與生醫光電等</small></td>
                            <td>{{ form.pho_bachelor }}</td>
                            <td>{{ form.pho_master }}</td>
                            <td>{{ form.pho_phd }}</td>
                            <td>{{ form.pho_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>科技法律學院</td>
                            <td>{{ form.law_bachelor }}</td>
                            <td>{{ form.law_master }}</td>
                            <td>{{ form.law_phd }}</td>
                            <td>{{ form.law_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>前瞻系統工程教育院 - <small>國防科技、系統工程</small></td>
                            <td>{{ form.fse_bachelor }}</td>
                            <td>{{ form.fse_master }}</td>
                            <td>{{ form.fse_phd }}</td>
                            <td>{{ form.fse_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>國際半導體學院</td>
                            <td>{{ form.icst_bachelor }}</td>
                            <td>{{ form.icst_master }}</td>
                            <td>{{ form.icst_phd }}</td>
                            <td>{{ form.icst_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>智慧科技暨綠能學院 - <small>智慧計算、系統、綠能</small></td>
                            <td>{{ form.ai_bachelor }}</td>
                            <td>{{ form.ai_master }}</td>
                            <td>{{ form.ai_phd }}</td>
                            <td>{{ form.ai_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>醫學院 - <small>臨床、傳統醫藥、公衛、衛福、生理學、解剖、急重症等</small></td>
                            <td>{{ form.som_bachelor }}</td>
                            <td>{{ form.som_master }}</td>
                            <td>{{ form.som_phd }}</td>
                            <td>{{ form.som_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>藥物科學院 - <small>生物藥學、食品安全</small></td>
                            <td>{{ form.ps_bachelor }}</td>
                            <td>{{ form.ps_master }}</td>
                            <td>{{ form.ps_phd }}</td>
                            <td>{{ form.ps_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td>護理學院 - <small>臨床護理、社區健康照護等</small></td>
                            <td>{{ form.son_bachelor }}</td>
                            <td>{{ form.son_master }}</td>
                            <td>{{ form.son_phd }}</td>
                            <td>{{ form.son_satisfaction }}</td>
                        </tr>
                        <tr>
                            <td> {{ form.overall_satisfaction.label }}</td>
                            <td colspan=4> {{ form.overall_satisfaction }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui teal segment">
                    <h3 class="ui dividing header">(2) 針對本校畢業生的薪資問題，請協助選擇現況</h3>
                    <div class="ui message">
                        若貴企業目前並無本校畢業生，請填寫對本校畢業生之期望
                    </div>
                    <table class="ui celled striped table">
                        <thead>
                        <tr>
                            <th>本校畢業生學歷</th>
                            <th>貴公司進用時月薪起薪平均(約)</th>
                            <th>本校學生目前(或預期)年薪薪資平均(約)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>大學</td>
                            <td>{{ form.salary_avg_bachelor }}{{ form.salary_avg_bachelor.errors }}</td>
                            <td>{{ form.nctu_salary_avg_bachelor }}{{ form.nctu_salary_avg_bachelor.errors }}</td>
                        </tr>
                        <tr>
                            <td>碩士</td>
                            <td>{{ form.salary_avg_master }}{{ form.salary_avg_master.errors }}</td>
                            <td>{{ form.nctu_salary_avg_master }}{{ form.nctu_salary_avg_master.errors }}</td>
                        </tr>
                        <tr>
                            <td>博士</td>
                            <td>{{ form.salary_avg_phd }}{{ form.salary_avg_phd.errors }}</td>
                            <td>{{ form.nctu_salary_avg_phd }}{{ form.nctu_salary_avg_phd.errors }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui teal segment">
                    <h3 class="ui dividing header">(3) 針對本校畢業生在職場上的表現問題，請協助評估後進行勾選</h3>
                    <div class="ui message">
                        <p>若貴企業目前並無陽明交通大學畢業生，請勾選下方空格，題目則留空不填</p>
                        <div class="ui checkbox">
                            {{ form.no_nctu_employee }}
                            <label>{{ form.no_nctu_employee.label }}</label>
                        </div>
                    </div>
                    <table class="ui celled striped table">
                        <thead>
                        <tr>
                            <th>對本校畢業生之整體滿意度評估</th>
                            <th>平均滿意度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1.專業知能（具符合所服務部門必須的專業技能、終身學習、新知學習等）</td>
                            <td>{{ form.professional_skill_rate }}{{ form.professional_skill_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>2.外語能力（包含英日文等語言之溝通與聽說讀寫能力等）</td>
                            <td>{{ form.foreign_lang_rate }}{{ form.foreign_lang_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>3.中文文書處理能力（如文件、企劃書之撰寫）</td>
                            <td>{{ form.document_process_rate }}{{ form.document_process_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>4.資訊素養(如電腦及網路的使用能力、解決資訊問題、資訊倫理、篩選資訊的能力、媒體素養等)</td>
                            <td>{{ form.info_literacy_rate }}{{ form.info_literacy_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>5.發現及解決問題之能力（如觀察力、邏輯分析、批判思考、決策思考、時間管理等）</td>
                            <td>{{ form.problem_solving_rate }}{{ form.problem_solving_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>6.工作態度（具備敬業熱誠、配合度高、能達成工作期待等）</td>
                            <td>{{ form.attitude_rate }}{{ form.attitude_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>7.公民責任(如民主素養、對公共事務及權利義務的參與與認知）</td>
                            <td>{{ form.civic_duty_rate }}{{ form.civic_duty_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>8.專業倫理與品德涵養（如情緒管理、尊重他人、尊重生命、社會服務、道德思辨、倫理實踐等）</td>
                            <td>{{ form.pro_moral_rate }}{{ form.pro_moral_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>9.人文及在地關懷(如服務精神、社會關懷等)</td>
                            <td>{{ form.humanities_rate }}{{ form.humanities_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>10.人文藝術陶冶(如多元文化認知、美感品味等)</td>
                            <td>{{ form.cultural_rate }}{{ form.cultural_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>11.國際視野（如世界公民意識、國際活動參與和文化交流等）</td>
                            <td>{{ form.international_view_rate }}{{ form.international_view_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>12.跨界多元思考(如創意思考、跨領域整合、卓越領導等)</td>
                            <td>{{ form.diverse_thinking_rate }}{{ form.diverse_thinking_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td>13.群己平衡認知（如身心平衡、團隊合作、表達溝通、人際關係、自我認知等）</td>
                            <td>{{ form.group_cognitive_rate }}{{ form.group_cognitive_rate.errors }}</td>
                        </tr>
                        <tr>
                            <td colspan=2>您認為前述本校畢業生能力，哪幾項對貴公司發展的具有重要性（請協助選出三項以上之能力）</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div class="ui checkbox">
                                    {{ form.professional_skill }}
                                    <label>{{ form.professional_skill.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.foreign_lang }}
                                    <label>{{ form.foreign_lang.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.document_process }}
                                    <label>{{ form.document_process.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.info_literacy }}
                                    <label>{{ form.info_literacy.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.problem_solving }}
                                    <label>{{ form.problem_solving.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.attitude }}
                                    <label>{{ form.attitude.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.civic_duty }}
                                    <label>{{ form.civic_duty.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.pro_moral }}
                                    <label>{{ form.pro_moral.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.humanities }}
                                    <label>{{ form.humanities.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.cultural }}
                                    <label>{{ form.cultural.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.international_view }}
                                    <label>{{ form.international_view.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.diverse_thinking }}
                                    <label>{{ form.diverse_thinking.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.group_cognitive }}
                                    <label>{{ form.group_cognitive.label }}</label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui teal segment">
                    <h3 class="ui dividing header">(4) 本校畢業生具備哪些經歷有助於職場求職，請協助提供相關意見</h3>
                    <table class="ui celled striped table">
                        <thead>
                        <tr>
                            <th>您覺得下列學經歷對就業力增加的幫助程度如何?</th>
                            <th>幫助程度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form.major.label }}</td>
                            <td>{{ form.major }}{{ form.major.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.graduation_school.label }}</td>
                            <td>{{ form.graduation_school }}{{ form.graduation_school.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.second_major.label }}</td>
                            <td>{{ form.second_major }}{{ form.second_major.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.club.label }}</td>
                            <td>{{ form.club }}{{ form.club.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.common_class.label }}</td>
                            <td>{{ form.common_class }}{{ form.common_class.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.national_exam.label }}</td>
                            <td>{{ form.national_exam }}{{ form.national_exam.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.cert.label }}</td>
                            <td>{{ form.cert }}{{ form.cert.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.work_exp.label }}</td>
                            <td>{{ form.work_exp }}{{ form.work_exp.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.travel_study.label }}</td>
                            <td>{{ form.travel_study }}{{ form.travel_study.errors }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui teal segment">
                    <h3 class="ui dividing header">(5) 其它</h3>
                    <table class="ui celled striped table">
                        <tr>
                            <td>請問貴公司多半透過哪些管道徵才？</td>
                            <td>
                                <div class="ui checkbox">
                                    {{ form.hr_bank }}
                                    <label>{{ form.hr_bank.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.newspaper_ad }}
                                    <label>{{ form.newspaper_ad.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.website }}
                                    <label>{{ form.website.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.school }}
                                    <label>{{ form.school.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.teacher_recommend }}
                                    <label>{{ form.teacher_recommend.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.campus_jobfair }}
                                    <label>{{ form.campus_jobfair.label }}</label>
                                </div>
                                <div class="ui checkbox">
                                    {{ form.contest }}
                                    <label>{{ form.contest.label }}</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>請問貴公司未來是否願意與本校建立更積極的互動關係，定期接受各項徵才活動的相關資訊？</td>
                            <td>
                                <div class="ui checkbox">
                                    {{ form.receive_info }}
                                    <label>{{ form.receive_info.label }}</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>請您提供建議及指教(針對協助學生就業及提升學生就業能力…等建議)</td>
                            <td>
                                {{ form.suggestions }}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="ui teal segment">
                    <h3 class="ui dividing header">(6) 基本資料</h3>
                    <table class='ui celled striped table'>
                        <tbody>
                        <tr>
                            <td>{{ form.company.label }}</td>
                            <td>{{ form.company }}{{ form.company.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.submiter_name.label }}</td>
                            <td>{{ form.submiter_name }}{{ form.submiter_name.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.submiter_phone.label }}</td>
                            <td>{{ form.submiter_phone }}{{ form.submiter_phone.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.submiter_email.label }}</td>
                            <td>{{ form.submiter_email }}{{ form.submiter_email.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.company_size.label }}</td>
                            <td>{{ form.company_size }}{{ form.company_size.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.nctu_employees.label }}</td>
                            <td>{{ form.nctu_employees }}{{ form.nctu_employees.errors }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.category.label }}</td>
                            <td>{{ form.category }}{{ form.category.errors }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button class="ui blue button" style="float: right;">送出問卷</button>
    </form>
{% endblock %}
