*.swp
.*.
OpenHouse/OpenHouse/settings.py
__pycache__
OpenHouse/migrations/
OpenHouse/tools/
OpenHouse/static/*
OpenHouse/media/*
!OpenHouse/static/css/
!OpenHouse/static/js/
OpenHouse/static/Ideal-Image-Slider
.ropeproject/
*.log
*.sqlite3
.idea/
semantic/
semantic.json
OpenHouse/*/migrations/
