{% extends 'base.html' %}
{% load staticfiles %}

{% block 'body' %}
    <link href={% static "css/rdss/sidebar.css" %} rel="stylesheet">
    <div class="ui stackable grid" style="margin-top: 5px">
        <div class="three wide column" style="margin-left:1em">
            <div class="ui secondary vertical pointing menu" style="width:90%">
                {% if request.user.is_authenticated and request.user.is_company %}
                    <a class="{{ sidebar_ui.index }} item" href="{% url 'rdss_company_index' %}">
                        活動首頁
                    </a>
                    <div class="item">
                        <div class="header">活動報名相關</div>
                        <div class="menu">
                            <a class="{{ sidebar_ui.status }} item big" href="{% url 'rdss_status' %}">
                                報名狀況總覽
                            </a>
                            <a class="{{ sidebar_ui.signup }} item big" href="{% url 'rdss_signup' %}">
                                填寫報名資料
                            </a>
                            <a class="{{ sidebar_ui.survey }} item big" href="{% url 'rdss_company_survey' %}">
                                企業滿意度問卷
                            </a>
                            <a class="{{ sidebar_ui.sponsor }} item big" href="{% url 'rdss_sponsor' %}">
                                活動贊助
                            </a>
                        </div>
                    </div>
                    <a class="{{ sidebar_ui.seminar_select }} item" href="{% url 'rdss_seminar_select' %}">
                        說明會選位
                    </a>
                    <a class="{{ sidebar_ui.seminar_info }} item" href="{% url 'rdss_seminar_info' %}">
                        OH說明會資訊填寫
                    </a>
                    <a class="{{ sidebar_ui.jobfair_select }} item" href="{% url 'rdss_jobfair_select' %}">
                        就博會選位
                    </a>
                    <a class="{{ sidebar_ui.jobfair_info }} item" href="{% url 'rdss_jobfair_info' %}">
                        就博會資訊填寫
                    </a>
                {% else %}
                    <!-- public view -->
                    {% url 'rdss_index' as rdss_index_url %}
                    <a href="{{ rdss_index_url }}" {% if request.path == rdss_index_url %}class="active item"
                       {% else %}class="item"{% endif %}>
                        活動資訊
                    </a>
                    {% url 'rdss_jobs' as rdss_jobs_url %}
                    <a href="{{ rdss_jobs_url }}" {% if request.path == rdss_jobs_url %}class="active item"
                       {% else %}class="item"{% endif %}>
                        職缺列表
                    </a>
                    {% if nav_configs.show_rdss_seminar %}
                        {% url 'seminar_public' as seminar_public_url %}
                        <a href="{{ seminar_public_url }}"
                           {% if request.path == seminar_public_url %}class="active item"
                           {% else %}class="item"{% endif %}>
                            說明會
                        </a>
                    {% endif %}
                    {% if nav_configs.show_rdss_jobfair %}
                        {% url 'jobfair_public' as jobfair_public_url %}
                        <a href="{{ jobfair_public_url }}"
                           {% if request.path == jobfair_public_url %}class="active item"
                           {% else %}class="item"{% endif %}>
                            就博會
                        </a>
                    {% endif %}
                    {% url 'rdss_querypts' as rdss_querypts_url %}
                    <a href="{{ rdss_querypts_url }}" {% if request.path == rdss_querypts_url %}class="active item"
                       {% else %}class="item"{% endif %}>
                        查集點
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="twelve wide column">
            {% block 'content' %}

            {% endblock %}
        </div>
    </div>
{% endblock %}


