{% extends 'base.html' %}
{% load staticfiles %}

{% block 'body' %}
    <link href={% static "css/rdss/sidebar.css" %} rel="stylesheet">
    <div class="ui stackable grid" style="margin-top: 5px">
        <div class="three wide column" style="margin-left:1em">
            <div class="ui secondary vertical pointing menu" style="width:90%">
                {% url 'public' as public_url %}
                <a href="{{ public_url }}" {% if request.path == public_url %}class="active item"
                   {% else %}class="item"{% endif %}>
                    活動資訊
                </a>
                {% url 'list_jobs' as list_jobs_url %}
                <a href="{{ list_jobs_url }}" {% if request.path == list_jobs_url %}class="active item"
                   {% else %}class="item"{% endif %}>
                    職缺列表
                </a>
                {% if nav_configs.show_seminar %}
                    {% url 'seminar' as seminar_url %}
                    <a href="{{ seminar_url }}" {% if request.path == seminar_url %}class="active item"
                       {% else %}class="item"{% endif %}>
                        說明會
                    </a>
                {% endif %}
                {% if nav_configs.show_jobfair %}
                    {% url 'jobfair' as jobfair_url %}
                    <a href="{{ jobfair_url }}" {% if request.path == jobfair_url %}class="active item"
                       {% else %}class="item"{% endif %}>
                        就博會
                    </a>
                {% endif %}
                {% url 'query_points' as query_points_url %}
                <a href="{{ query_points_url }}" {% if request.path == query_points_url %}class="active item"
                   {% else %}class="item"{% endif %}>
                    查集點
                </a>
            </div>
        </div>
        <div class="twelve wide column">
            {% block 'content' %}

            {% endblock %}
        </div>
    </div>
{% endblock %}


