{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">

    <link href={% static "css/rdss/collect_points.css" %} rel="stylesheet">
    <script src={% static "js/collect_points.js" %}></script>
{% endblock %}

{% block content %}
    <div>
        <h1 class="ui dividing header">OpenHouse 說明會集點</h1>
        <div class="ui segment">
            <div>
            {% if ui_message %}
                <div class="ui {{ ui_message.type }} message">{{ ui_message.msg }}</div><br/>
            {% endif %}
            </div>
            
            <div class="ui two column grid">
                <div class="column">
                    <h3>場地</h3>
                    <form class="ui form" method="GET" id="seminar_place">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="seminar_place">
                            <i class="dropdown icon"></i>
                            <div class="text">{{ seminar_place_name }}</div>
                            <div class="menu">
                                {% for place in seminar_places %}
                                <div class="item" data-value="{{ place.id }}">
                                    {{ place.place }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="ui button">提交</button>
                    </form>

                    <h3>場次</h3>
                    {% if seminar_place_id %}
                    <form class="ui form" method="POST" id="collect_form">
                        {% csrf_token %}
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="seminar_id" value="{{ seminar_list.0.id }}">
                                <i class="dropdown icon"></i>
                                <div class="text">{{ seminar_list.0.date|date:"m/d (D)" }}-{{ seminar_list.0.session }}({{ seminar_list.0.place }})-{{ seminar_list.0.company }}</div>
                                <div class="menu">
                                    {% for seminar in seminar_list %}
                                    <div class="item" data-value="{{ seminar.id }}">
                                        {{ seminar.date|date:"m/d (D)" }}-{{ seminar.session }}({{ seminar.place }})-{{ seminar.company }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <p style="color:red">
                                系統會自動抓取目前場次，換場時請點選下方按鈕，該場次結束前20分鐘、結束後40分鐘會自動抓取
                            </p>
                            <a class="ui red submit button" href="/admin/rdss/collect_points/?seminar_place={{ seminar_place_id }}">重整頁面</a>
                        </div>
                        <div class="field">
                            <label>學生證卡號</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input name="idcard_no" maxlength=10 autofocus>
                            </div>
                        </div>
                        <button class="ui blue submit button" type="submit">集點</button>
                    </form>
                    {% else %}
                    <h3 style="color:red">請選擇場地</h3>
                    {% endif %}
                </div>

                <div class="center aligned column">
                    {% if msg %}
                        <div class="ui {{ msg.type }} message">
                            {{ msg.content }}
                        </div>
                    {% endif %}
                    <h1 class="info">卡號: {{ student_obj.idcard_no }}</h1>
                    <h1 class="info">學號: {{ student_obj.student_id | default:"未註冊" }}</h1>
                    <h1 class="info">目前集點: {{ student_obj.get_points }} 點</h1>
                    <h1 class="info">已兌換: {{ student_obj.get_redeemed }} 點</h1>
                    {% if check_get_ticket and not already_redeem %}
                        <a class="ui red button" href="/admin/rdss/redeem_seminar_meal_ticket_2024/{{student_obj.student_id}}/{{redeem_date}}">兌換 {{redeem_target}}餐券 </a>
                    {% endif %}
                    <div class="ui info message">
                        <p>
                            (2024 秋招餐券兌換) 自動抓取學生資料計算是否達到兌換標準，並更新至
                            <a class="button" href="/admin/rdss/show_3_seminar_attendance_student_2024/">
                                兌獎-2024餐券(每日參與全部說明會)
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

