{% extends 'admin/base_site.html' %}
{% block extrastyle %}{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="content-main">
	<ul class="messages">
		{% for message in messages %}
		  <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
		{% endfor %}
	</ul>

	<!-- Refresh Button -->
    <div style="text-align: right; margin-bottom: 10px;">
        <button class="ui button blue" onclick="location.reload();">
            <i class="redo alternate icon"></i>
        </button>
    </div>

	<div>
		<table class="ui celled table">
			<thead>
				<th> 學號 </th>
				<th> 姓名 </th>
				<th> 電話 </th>
				<th> 電子郵件 </th>
				<th> 參加日期 </th>
				<th> 是否兌換餐券 </th>
				<th>  </th>
				<th> 備註 </th>
			</thead>
			<tbody>

				{% for attended_student in attended_students %}
				<tr>
					<td>
						<a href="/admin/rdss/show_3_seminar_attendance_student_2024/redeem/{{attended_student.student.student_id}}/edit">
							{{ attended_student.student.student_id }}
						</a>
					</td>
					<td>{{ attended_student.student.name }}</td>
					<td>{{ attended_student.student.phone }}</td>
					<td>{{ attended_student.student.email }}</td>
					<td>{{ attended_student.date }}</td>
					{% if not attended_student.redeem%}
						<td><i class="close red icon"></i></td>
						<td><a class="button" href="/admin/rdss/show_3_seminar_attendance_student_2024/redeem/{{attended_student.student.student_id}}/{{attended_student.date}}">兌獎</a></td>
					{% else %}
						<td><i class="check green icon"></i></td>
						<td>已兌換</td>
					{% endif %}
					<td>{{ attended_student.student.other }}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
{% endblock %}

