{% extends 'admin/base_site.html' %}

{% block content %}
<input type ="button" onclick="javascript:location.href='/admin/rdss/sponsorship/add/'" value="新增企業贊助" style="float: right;" ></input>
<div id="content-main">
	<form method="get" class="ui form" style="margin-bottom: 20px;">
        <div class="field">
            <input type="text" name="q" placeholder="搜尋公司統編或名稱" value="{{ search_term }}">
			<button type="submit" class="ui button primary">搜尋</button>
        </div>
    </form>

	<table class="ui celled table">
		<thead>
			<th>更新時間</th>
			<th> CID </th>
			<th> Company Name </th>
			{% for item in sponsor_items %}
			<th> {{ item.name }} </th>
			{% endfor %}
			<th>Amount </th>
		</thead>
		<tbody>

            <tr>
                <td colspan=2> 目前贊助/贊助上限 </td>
                {% for item in sponsor_items %}
                <td> {{ item.num_sponsor}} / {{ item.limit}}</td>
                {% endfor %}
                <td></td>
            </tr>

			{% for company in sponsorships_list %}
			<tr>
				<td>{{ company.update_time }}</td>
                <td><a href="{{company.change_url}}#sponsorship_set-group">{{company.cid}}</a></td>
				<td>{{company.shortname}}</td>
				{% for item_num in company.counts%}
					<td>{{item_num}}</td>
				{% endfor %}
				<td>{{company.amount}}</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>

{% endblock %}

