{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href={% static "node_modules/semantic-ui/dist/semantic.min.css" %} rel="stylesheet">
    <link href={% static "css/rdss/collect_points.css" %} rel="stylesheet">
    <script src={% static "node_modules/semantic-ui/dist/semantic.min.js" %}></script>
    <script src={% static "js/collect_points.js" %}></script>
{% endblock %}

{% block content %}
    <h1 class="ui dividing header" id="title">OpenHouse 廣告頁匯出</h1>
    <div class="ui segment">
        <table class="ui celled table" style="table-layout: fixed">
            <thead>
            <tr>
                <th style="width: 15%">Logo</th>
                <th style="width: 15%">企業名</th>
                <th style="width: 10%">類別</th>
                <th style="width: 20%">簡介</th>
                <th style="width: 20%">職缺</th>
                <th style="width: 20%">聯絡方式</th>
            </tr>
            </thead>
            <tbody>
            {% for company in company_list %}
                <tr>
                    <td><img src="{{ company.logo.url }}" class="ui small image"></td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.category }}</td>
                    <td>{{ company.brief|safe }}</td>
                    <td>{{ company.recruit_info|safe }}</td>
                    <td>
                        <ul class="ui list">
                            <li>公司地址: {{ company.address }}</li>
                            <li>公司電話: {{ company.phone }}</li>
                            <li>公司網址: <a href="{{ company.website }}" target="_blank">連結</a></li>
                            <li>應徵方式: {{ company.recruit_url|safe }}</li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

