{% extends 'recruit_base.html' %}
{% load staticfiles %}

{% block 'custom_head' %}
		<title>就博會資訊-OpenHouse</title>
        <link href={% static "css/recruit/info.css" %} rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <form method="post" class="ui info form" action=".">
        {% csrf_token %}
        <h1 class="ui dividing header">就博會資訊</h1>
        <h3 style="color:red">請企業於 1/24（四）前完成「就博會資訊」填寫，以進行行政施工等準備作業</h3>
        <div class="field">
            <label>{{form.sign_name.label}}</label>
            {{form.sign_name}}
            <p>建議為公司簡稱</p>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label>{{form.contact_person.label}}</lable>
                {{form.contact_person}}
            </div>
            <div class="four wide field">
                <label>{{form.contact_mobile.label}}</lable>
                {{form.contact_mobile}}
            </div>
            <div class="eight wide field">
                <label>{{form.contact_email.label}}</lable>
                {{form.contact_email}}
            </div>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label>{{form.general_lunch_box.label}}</lable>
                {{form.general_lunch_box}}
                <p>每攤位至多提供5份餐點</p>
            </div>
            <div class="four wide field">
                <label>{{form.veget_lunch_box.label}}</lable>
                {{form.veget_lunch_box}}
            </div>
            <div class="four wide field">
                <label>{{form.packing_tickets.label}}</label>
                {{form.packing_tickets}}
            </div>
            <div class="four wide field">
                <label>{{form.job_number.label}}</label>
                {{form.job_number}}
            </div>
        </div>
        <div class="field">
            <label>{{form.send_obj.label}}</label>
            {{form.send_obj}}
        </div>
        
        <div class="field">
            <label>{{form.power_req.label}}</label>
            {{form.power_req}}
            <p>攤位用電建議500瓦以內，請填寫預計使用電器(如筆電、音響等)，如有模擬機、爆米花機、可樂機等耗電設備，請務必填寫並須由企業自行負擔小型發電機費用</p>
        </div>
        <div class="field">
            <label>{{form.ps.label}}</label>
            {{form.ps}}
        </div>
            
        <button class="ui teal button">送出</button>
    </form>
{% endblock %}
