{% extends 'recruit_base.html' %}
{% load staticfiles %}

{% block 'custom_head' %}
    <title>線上說明會資訊 | OpenHouse 企業校園徵才</title>
    <link href={% static "css/recruit/info.css" %} rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <form class="ui info form" method="POST" action="{% url 'recruit_online_seminar_info' %}">
        {% csrf_token %}
        <h1 class="ui dividing header">Open House 校園徵才 - 線上說明會資訊</h1>
        {% if form.errors %}
            <div class="ui error message">
                <div class="header">請修正以下錯誤</div>
                <ul class="ui ordered list">
                    {% for field in form %}
                        {% for e in field.errors %}
                            <div class="item">{{ e }}</div>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% elif online_seminar_info_object %}
            <div class="ui teal compact message">
                線上說明會資訊填寫已完成，您也可以修改資訊，再次送出。
            </div>
        {% endif %}
        <h2 style="color:red">請企業於 1/7 前完成「線上說明會資訊填寫」，以利活動宣傳</h2>
        <h3 class="ui dividing header">主題資訊</h3>
        <div class="field required">
            <label>{{ form.topic.label }}{{ form.topic.errors }} </label>
            <div class="field">
                {{ form.topic }}
            </div>
        </div>
        <div class="fields">
            <div class="four wide field required">
                <label>{{ form.speaker.label }}{{ form.speaker.errors }}</label>
                <div class="field">
                    {{ form.speaker }}
                </div>
            </div>
            <div class="four wide field required">
                <label>{{ form.speaker_title.label }}{{ form.speaker_title.errors }}</label>
                <div class="field">
                    {{ form.speaker_title }}
                </div>
            </div>
            <div class="eight wide field required">
                <label>{{ form.speaker_email.label }}{{ form.speaker_email.errors }}</label>
                <div class="field">
                    {{ form.speaker_email }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="four wide field required">
                <label>{{ form.contact.label }}{{ form.contact.errors }}</label>
                <div class="field">
                    {{ form.contact }}
                </div>
            </div>
            <div class="four wide field required">
                <label>{{ form.contact_mobile.label }}{{ form.contact_mobile.errors }}</label>
                <div class="field">
                    {{ form.contact_mobile }}
                </div>
            </div>
            <div class="eight wide field required">
                <label>{{ form.contact_email.label }}{{ form.contact_email.errors }}</label>
                <div class="field">
                    {{ form.contact_email }}
                </div>
            </div>
        </div>
        <div class="field">
            {% now 'Y' as current_year %}
            {% now 'm' as current_month %}
            {% if current_month > '06' %}
                <label>
                    {{ current_year|add:1 }}{{ form.job_number.label }}{{ form.job_number.errors }}</label>
            {% else %}
                <label>
                    {{ current_year }}{{ form.job_number.label }}{{ form.job_number.errors }}</label>
            {% endif %}
            <div class="field">
                {{ form.job_number }}
            </div>
        </div>
        <div class="field">
            <label>{{ form.ps.label }}{{ form.ps.errors }}</label>
            <div class="field">
                {{ form.ps }}
            </div>
        </div>
        <h3 class="ui dividing header">抽獎獎品</h3>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.qa_prize.label }}{{ form.qa_prize.errors }}</label>
                <div class="field">
                    {{ form.qa_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.qa_prize_amount.label }}{{ form.qa_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.qa_prize_amount }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.raffle_prize.label }}{{ form.raffle_prize.errors }}</label>
                <div class="field">
                    {{ form.raffle_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.raffle_prize_amount.label }}{{ form.raffle_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.raffle_prize_amount }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.attend_prize.label }}{{ form.attend_prize.errors }}</label>
                <div class="field">
                    {{ form.attend_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.attend_prize_amount.label }}{{ form.attend_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.attend_prize_amount }}
                </div>
            </div>
        </div>
        <button class="ui blue button" style="float: right;" type="submit">送出</button>
    </form>
{% endblock %}
