{% extends 'recruit_base.html' %}
{% load staticfiles %}

{% block 'custom_head' %}
    <title>說明會資訊-OpenHouse</title>
    <link href={% static "css/recruit/info.css" %} rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <form class="ui info form" method="POST" action="{% url 'recruit_seminar_info' %}">
        {% csrf_token %}
        <h1 class="ui dividing header">說明會資訊</h1>
        {% if seminar_info %}
            <div class="ui teal compact message">
                說明會資訊填寫已完成，您也可以修改資訊，再次送出。
            </div>
        {% endif %}
        <h4 class="ui dividing header">說明會資訊</h4>
        {{ form.errors }}
        <div class="fields">
            <div class="eight wide field">
                <label>{{ form.contact_mobile.label }}{{ form.contact_mobile.errors }}</label>
                <div class="field">
                    {{ form.contact_mobile }}
                </div>
            </div>
            <div class="eight wide field">
                <label>{{ form.contact_email.label }}{{ form.contact_email.errors }}</label>
                <div class="field">
                    {{ form.contact_email }}
                </div>
            </div>
        </div>
        <div class="field">
            <label>{{ form.video.label }}{{ form.video.errors }}</label>
            <div class="field">
                {{ form.video }}{{ form.video.help_text }}
            </div>
        </div>
        <div class="field">
            <label>{{ form.intro.label }}{{ form.intro.errors }}</label>
            <div class="field">
                {{ form.intro }}
                {% if form.intro.help_text %}
                    <span class="helptext" style="color: red">{{ form.intro.help_text|safe }}</span>
                {% endif %}
            </div>
        </div>
        <button class="ui blue button" type="submit">送出</button>
    </form>
{% endblock %}
