{% extends 'recruit_base.html' %}
{% load static %}

{% block 'custom_head' %}
    <title>實體說明會資訊 | OpenHouse 企業校園徵才</title>
    <link href={% static "css/recruit/info.css" %} rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <form class="ui info form" method="POST" action="{% url 'recruit_seminar_info' %}">
        {% csrf_token %}
        <h1 class="ui dividing header">Open House 校園徵才 - 實體說明會資訊</h1>
        {% if form.errors or formset.errors %}
            <div class="ui error message">
                <div class="header">請修正以下錯誤</div>
                <ul class="ui ordered list">
                    {% for field in form %}
                        {% for e in field.errors %}
                            <div class="item">{{ e }}</div>
                        {% endfor %}
                    {% endfor %}
                    {% for dict in formset.errors %}
                        {% for field in dict.values %}
                            {% for e in field %}
                                <div class="item">{{ e }}</div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% elif seminar_info_object %}
            <div class="ui teal compact message">
                實體說明會資訊填寫已完成，您也可以修改資訊，再次送出。
            </div>
        {% endif %}
        <h2 style="color:red">請企業於 1/7 前完成「實體說明會資訊填寫」，以利活動宣傳</h2>
        <h3 class="ui dividing header">主題資訊</h3>
        <div class="field required">
            <label>{{ form.topic.label }}{{ form.topic.errors }} </label>
            <div class="field">
                {{ form.topic }}
            </div>
        </div>
        <div class="fields">
            <div class="four wide field required">
                <label>{{ form.speaker.label }}{{ form.speaker.errors }}</label>
                <div class="field">
                    {{ form.speaker }}
                </div>
            </div>
            <div class="four wide field required">
                <label>{{ form.speaker_title.label }}{{ form.speaker_title.errors }}</label>
                <div class="field">
                    {{ form.speaker_title }}
                </div>
            </div>
            <div class="eight wide field required">
                <label>{{ form.speaker_email.label }}{{ form.speaker_email.errors }}</label>
                <div class="field">
                    {{ form.speaker_email }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="four wide field required">
                <label>{{ form.contact.label }}{{ form.contact.errors }}</label>
                <div class="field">
                    {{ form.contact }}
                </div>
            </div>
            <div class="four wide field required">
                <label>{{ form.contact_mobile.label }}{{ form.contact_mobile.errors }}</label>
                <div class="field">
                    {{ form.contact_mobile }}
                </div>
            </div>
            <div class="eight wide field required">
                <label>{{ form.contact_email.label }}{{ form.contact_email.errors }}</label>
                <div class="field">
                    {{ form.contact_email }}
                </div>
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>{{ form.snack_box.label }}{{ form.snack_box.errors }}</label>
                <p>基本提供50份餐點給參與同學(費用已含在活動費用中)，企業可加碼付費增加數量</p>
                <div class="field">
                    {{ form.snack_box }}
                </div>
            </div>
            <div class="field">
                <label>{{ form.hr_food.label }}{{ form.hr_food.errors }}</label>
                <p>{{ form.hr_food.help_text }}</p>
                <div class="field">
                    {{ form.hr_food }}
                </div>
            </div>
            <div class="field">
                {% now 'Y' as current_year %}
                {% now 'm' as current_month %}
                {% if current_month > '06' %}
                    <label>
                        {{ current_year|add:1 }}{{ form.job_number.label }}{{ form.job_number.errors }}</label>
                {% else %}
                    <label>
                        {{ current_year }}{{ form.job_number.label }}{{ form.job_number.errors }}</label>
                {% endif %}
                <div class="field">
                    {{ form.job_number }}
                </div>
            </div>
        </div>
        <div class="field">
            <label>宣傳與行政備註(如有線上報名短網址、宣傳小短句、代發獎品需求等請於此備註說明){{ form.ps.errors }}</label>
            <div class="field">
                {{ form.ps }}
            </div>
        </div>
        <h3 class="ui dividing header">入校之汽車車號提供或需要(紙本)汽車停車抵用券</h3>
        <p>
            說明(1)：參加實體說明會之企業，至多提供2部汽車入校停車費抵免；企業可選擇「提供車牌號碼」與「索取紙本停車抵用券」兩種並行。如超過基本提供數量，須自付每部50元之單日計次停車費(備註：無法提供正式收據)，或可選擇每時50元之計時停車(備註：停車費用逕向出入口收費亭繳費即可)。</p>
        <p>
            說明(2)：本校進出車輛自2020年1月已改用車號辨識系統，可加速企業同仁離校速度與簡化繳費流程，如選擇此項之車輛須提供完整車號(例AA-1234、4321-BB)；若無法事先確認入校車輛之車牌號碼，請選擇索取紙本汽車抵用券。</p>
        <p style="color: red">★如要刪除已新增的車牌號碼，請勾選相應欄位右方的"刪除"選項</p>
        <div class="field">
            <label>(紙本)汽車停車抵用券{{ form.parking_cards.errors }}</label>
            <div class="field">
                {{ form.parking_cards }}
            </div>
        </div>
        <div class="field">
            {{ formset.management_form }}
            {% for f in formset %}
                {{ f.id }}
                {{ f.info }}
                <label>
                    {{ f.license_plate_number.label }}{{ forloop.counter }}{{ f.license_plate_number.errors }}</label>
                <div class="fields">
                    <div class="fourteen wide field">
                        {{ f.license_plate_number }}
                    </div>
                    {% if formset.can_delete %}
                        <div class="two wide field">
                            <div class="ui checkbox">
                                {{ f.DELETE }}
                                <label>刪除</label>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <h3 class="ui dividing header">抽獎獎品</h3>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.qa_prize.label }}{{ form.qa_prize.errors }}</label>
                <div class="field">
                    {{ form.qa_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.qa_prize_amount.label }}{{ form.qa_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.qa_prize_amount }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.raffle_prize.label }}{{ form.raffle_prize.errors }}</label>
                <div class="field">
                    {{ form.raffle_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.raffle_prize_amount.label }}{{ form.raffle_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.raffle_prize_amount }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.attend_prize.label }}{{ form.attend_prize.errors }}</label>
                <div class="field">
                    {{ form.attend_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.attend_prize_amount.label }}{{ form.attend_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.attend_prize_amount }}
                </div>
            </div>
        </div>
        <button class="ui blue button" style="float: right;" type="submit">送出</button>
    </form>
{% endblock %}
