{% extends 'recruit_base.html' %}
{% load staticfiles %}

{% block 'custom_head' %}
    <title>OpenHouse 廠商介面</title>
    <script src={% static "js/rdss/signup_form.js" %}></script>
{% endblock %}

{% block 'content' %}
    <form class="ui form" action="." method="post">
        {% csrf_token %}
        {% if signup_info_exist %}
            <div class="ui compact teal message">
                報名已完成，您也可以修改報名資料，再次送出。
            </div>
        {% endif %}

        <div class="ui blue inverted segment" id="seminar">
            <h1 class="ui inverted header">
                <i class="info circle icon" style="color:white"></i>
                企業說明會
            </h1>
            <table class="ui celled table">
                <tr>
                    <td>活動日期</td>
                    <td>{{ recruit_configs.seminar_start_date|date:"Y年m月d日(D)" }}
                        ~ {{ recruit_configs.seminar_end_date|date:"Y年m月d日(D)" }} 額滿為止
                    </td>

                </tr>
                <tr>
                    <td>活動時間</td>
                    <td>
                        <ul>
                            <li>中午場次 12:10~13:00</li>
                            <li>其餘場次 13:20、16:30、17:40、18:50 (每場 50 分鐘)</li>
                    </td>

                </tr>
                <tr>
                    <td>活動地點</td>
                    <td>本校國際會議廳 (浩然圖書館、交映樓、工程四館合勤講堂、資訊館)</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>透過說明會提供完善的場地與設備，徵才企業可以近距離傳達公司訊息，解說公司內部企業文化、經營理念、薪資福利制度、徵才職缺以及需求等，為學生進一步認識企業之橋樑。</td>
                </tr>
                <tr>
                    <td>提供設備</td>
                    <td>
                        <ol class="ui list">
                            <li>可容納100至200人之國際會議廳</li>
                            <li>單槍投影機、投影布幕、麥克風、筆記型電腦、簡報滑鼠等。※如有特殊需求請務必事先告知。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>提供服務</td>
                    <td>
                        <ol class="ui list">
                            <li> 每場說明會由工作人員協助會場地布置、資料發放、會場拍照 等事宜,並協助場內活動進行及突發狀況處理。</li>
                            <li>提供企業人資至多 2 份餐點與飲水、2 張免費校內停車證。</li>
                            <li> 提供 50 份餐點給參與同學(費用已含在報名活動費中,企業可加碼付費提供餐點數量)。</li>
                        </ol>
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">選取欲報名說明會時間</h3>
                <p>活動費用：12:10場：{{ recruit_configs.session_2_fee }}，其餘場 {{ recruit_configs.session_4_fee }} 元</p>
                {{ form.seminar }}
                <div class="ui red button seminar_clear">清除</div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui green inverted segment">
            <h1 class="ui header">
                <i class="student icon"></i>
                就業博覽會
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width:8em">活動日期</td>
                    <td>{{ recruit_configs.jobfair_date }}</td>
                </tr>
                <tr>
                    <td style="width:8em">活動時間</td>
                    <td>{{ recruit_configs.jobfair_start }} ~ {{ recruit_configs.jobfair_end }}</td>
                </tr>
                <tr>
                    <td>活動地點</td>
                    <td>{{ recruit_configs.jobfair_place }}</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>
                        邀請各界企業到學校設點,展示公司的產品或業務內容,加深同
                        學對各產業現況的了解,也提供同學未來就業的參考依據,並有
                        多項宣傳和配套活動吸引同學參與。
                    </td>

                </tr>
                <tr>
                    <td>提供服務</td>
                    <td>
                        <ol class="ui list">
                            <li>本校工作人員協助報到及處理隨機突發狀況。</li>
                            <li>提供企業免費校內停車證，中午提供各廠商便當與飲水，每攤位至多提供5份；素食餐點請事先告知。</li>
                        </ol>
                    </td>
                </tr>
            </table>
            <div class="ui segment">
                <h3 class="ui header">報名就博會</h3>
                <p>活動費用：攤位每單位 {{ recruit_configs.jobfair_booth_fee }} 元，額滿為止。</p>
                <div class="ui labeled input">
                    <div class="ui label">
                        就博會攤位數量
                    </div>
                    {{ form.jobfair }}
                </div>
                <!--
                <div class="ui yellow message">
                  每家廠商至多報名4個攤位，超過4攤以4攤計
                </div>
                -->
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui black inverted segment">
            <h1 class="ui header">
                <i class="users icon" style="color:white"></i>
                企業職場導師
            </h1>
            <table class="ui celled table">
                <tr>
                    <td>活動內容</td>
                    <td>
                        本活動內容擬邀請企業人資和各領域資深主管、職涯專業諮商師蒞校擔任企業職場老師或職涯教練，以一對一近距離指導方式，為本校同學進行個人生涯發展規劃及職涯諮詢指導、履歷寫作、面試技巧，讓學生發掘自我潛能並在起跑點上更具備潛在優勢。
                    </td>
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>
                        <ol class="ui list">
                            <li>業師每次駐點至少2小時，企業可於報名系統上勾選擔任「企業職場導師」意願，擔任企業導師可為人資或是各部門技術及行政主管；主辦單位保留最終邀請企業職涯導師名單之權利。
                            </li>
                            <li>一對一職涯諮詢服務：同學可透過活動網頁瀏覽業師所屬專業領域來選定業師並進行預約。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>回饋方案</td>
                    <td>企業參與本次活動可增加選位積分5分</td>
                </tr>
            </table>
            <div class="ui segment">
                <h3 class="ui header">願意提供</h3>
                <div class="ui checked checkbox">
                    {{ form.career_tutor }}
                    <label style="color:black">{{ form.career_tutor.label }}</label>
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui brown inverted segment">
            <h1 class="ui header">
                <i class="briefcase icon" style="color:white"></i>
                企業參訪
            </h1>
            <table class="ui celled table">
                <tr>
                    <td>活動內容</td>
                    <td>藉由參觀企業來提升交大同學對企業的實際瞭解，對同學籌劃未來就業藍圖有所助益；參訪學生以應屆畢業碩博士生與大四學生優先。</td>
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>
                        <ol class="ui list">
                            <li>
                                企業可於報名系統上勾選「企業參訪」意願，<strong>參訪內容可由企業自行規劃</strong>，以介紹公司或以公司內部參觀為主，希望能夠讓交大學生多了解企業實際運行狀況；<strong>主辦單位保留最終邀請參訪活動之權利。</strong>
                            </li>
                            <li>企業參訪人數至少可接受35人以上之同學進行參訪，單趟車程不超過1.5小時為宜。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>回饋方案</td>
                    <td>企業參與本次活動可增加選位積分5分</td>
                </tr>
            </table>
            <div class="ui segment">
                <h3 class="ui header">願意提供</h3>
                <div class="ui checked checkbox">
                    {{ form.company_visit }}
                    <label style="color:black">{{ form.company_visit.label }}</label>
                </div>
            </div>
        </div>

        <!--
        <div class="ui orange inverted segment">
            <h1>公司收據</h1>
            <label>{{ form.receipt_year.label }}</label>
            {{ form.receipt_year.errors }}
            {{ form.receipt_year }}
            {{ form.receipt_year.help_text }}
        </div>
        -->

        <!--
  <div class="ui segment">
      <h1>就業力講座</h1>
      <div class="ui celled table">
          <table>

                <tr>
                    <td>活動日期</td>
                    <td>2017年3月~5月</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>在徵才活動期間穿插名人演講及職涯分享講座,邀請不同領域的講師為整場活動注入更多活水並增加講座多元性，藉此提升同學於就學獎學金、企業實習、海外工作、創業就業等主題上,能更清楚其範疇及預先準備。</td>
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>企業可於報名系統上勾選「就業力講座」意願,表達企業願意擔任名人演講、職涯分享講座講師,並提供擬定主講者;講座內容不可做公司宣傳與進行人才招募;主辦單位保留最終邀請講座主辦之權利。</td>
                </tr>

          </table>
          <div class="ui segment">
            <h3>願意提供</h3>
            <div class="ui checked checkbox">
                {{form.lecture}}
                <label>{{form.lecture.label}}</label>
            </div>
        </div>

      </div>
  </div>
  -->
        <button class="ui blue button" type="submit">送出資料</button>


    </form>



{% endblock %}
