{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <link href={% static "css/general/read_news.css" %} rel="stylesheet">
    <title>Open House 常見問題</title>
    

    <div id="content" class="ui segment" >
        <div style="text-align:center">
            <h2 class="ui header">常見問題</h2>
        </div>

        <div class="ui divider"></div>
        {{ FAQ.content|safe }}
    </div>
    <div id="button_group">
        <a class="ui button" href="/">回首頁</a>
    </div>
{% endblock %}
