{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <body style="background-color: #0033A0"></body>
    <title>Open House 歷史沿革</title>
    <style>
        .history_image {
            width: 70%;
        }
        @media (max-width: 770px) {
            .history_image {
                width: 100%;
            }
        }
    </style>
    <div style="text-align:center">
        {% for history_img in history_imgs %}
            <img src="{{ history_img.upload_img.url }}" class="history_image" alt="history">
        {% endfor %}
    </div>
{% endblock %}
