{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <link href={% static "css/general/read_news.css" %} rel="stylesheet">
    <title>Open House 最新消息</title>

    <div id="content" class="ui segment" >
        <div style="text-align:center">
            <h2 class="ui header">{{ news.title }}</h2>
            <p style="text-align:right">
                {% if news.pinned %}
                    <i class="thumbtack icon" style="color:red;font-size:0.4em ;margin-right:0%;transform:rotate(45deg);"></i>
                    <span style="color:red;">置頂</span> 
                {% endif %}
                修改時間：{{ news.created_time }} 
            </p>
        </div>

        <div class="ui divider"></div>
        {{ news.content|safe }}
        {% for file in files %}
            <p>附件: <a href={{ file.upload_file.url }} target="_blank">{{ file.name }}</a></p>
        {% endfor %}
    </div>
    <div id="button_group">
        <a class="ui button" href="/">回首頁</a>
        <a class="ui button" href="{% url 'general_news_list' %}">最新消息</a>
        <a class="ui button" href="{% url 'recruit_news_list' %}">企業徵才資訊</a>
    </div>
{% endblock %}
