{% extends 'company_base.html' %}

{% block 'custom_head' %}
    <title>公司資料 | OpenHouse 企業校園徵才 </title>
{% endblock %}

{% block 'content' %}
    <div class="ui stackable grid" style="margin:auto;">
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                    <img src="{{ company_info.logo.url }}">
                </div>
                <div class="content">
                    <a class="header">{{ company_info.shortname }} - 廠商LOGO</a>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a class="ui basic red button" href="{% url 'reset_password' %}">修改密碼</a>
                        <a class="ui basic blue button" href="{% url 'company_edit' %}">修改資料</a>
                    </div>
                </div>
            </div>
            <div class="ui header">收據相關資料</div>
            <table class="ui celled striped table">
                <tbody>
                <tr>
                    <td>公司收據抬頭</td>
                    <td>{{ company_info.receipt_title }}</td>
                </tr>
                <tr>
                    <td>收據寄送郵遞區號(3+3)</td>
                    <td>{{ company_info.receipt_postal_code }}</td>
                </tr>
                <tr>
                    <td>收據寄送地址</td>
                    <td>{{ company_info.receipt_postal_address }}</td>
                </tr>
                <tr>
                    <td>收據聯絡人姓名</td>
                    <td>{{ company_info.receipt_contact_name }}</td>
                </tr>
                <tr>
                    <td>收據聯絡人Email</td>
                    <td>{{ company_info.receipt_contact_email }}</td>
                </tr>
                <tr>
                    <td>收據聯絡人公司電話</td>
                    <td>{{ company_info.receipt_contact_phone }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="six wide column">
            <div class="ui header">基本資料</div>
            <table class="ui celled striped table">
                <tbody>
                <tr>
                    <td>公司名稱</td>
                    <td>{{ company_info.name }}</td>
                </tr>
                <tr>
                    <td>公司英文名稱</td>
                    <td>{{ company_info.english_name }}</td>
                </tr>
                <tr>
                    <td>公司簡稱</td>
                    <td>{{ company_info.shortname }}</td>
                </tr>
                <tr>
                    <td>類別</td>
                    <td>{{ company_info.category }}</td>
                </tr>
                <tr>
                    <td>公司電話</td>
                    <td>{{ company_info.phone }}</td>
                </tr>
                <tr>
                    <td>公司地址</td>
                    <td>{{ company_info.postal_code }} {{ company_info.address }}</td>
                </tr>
                <tr>
                    <td>公司網址</td>
                    <td>{{ company_info.website }}</td>
                </tr>
                <tr>
                    <td><p style="color:red;">以上資料皆會顯示在職缺列表中</p></td>
                    <td><a class="embla__slide" href="{{ company_info.get_absolute_url }}">職缺列表</a></td>
                </tr>
                <tr>
                    <td>統編</td>
                    <td>{{ company_info.cid }}</td>
                </tr>
                <tr>
                    <td>公司收據抬頭</td>
                    <td>{{ company_info.receipt_title }}</td>
                </tr>

                <tr>
                    <td>營業項目</td>
                    <td>{{ company_info.business_project }}</td>
                </tr>
                <tr>
                    <td>關係企業</td>
                    <td>{{ company_info.relation_business }}</td>
                </tr>
                <tr>
                    <td>分公司</td>
                    <td>{{ company_info.subsidiary }}</td>
                </tr>
                <tr>
                    <td>人資姓名</td>
                    <td>{{ company_info.hr_name }}</td>
                </tr>
                <tr>
                    <td>人資手機</td>
                    <td>{{ company_info.hr_phone }}</td>
                </tr>
                <tr>
                    <td>人資電話</td>
                    <td>{{ company_info.hr_mobile }}</td>
                </tr>
                <tr>
                    <td>人資傳真</td>
                    <td>{{ company_info.hr_fax }}</td>
                </tr>
                <tr>
                    <td>人資Email</td>
                    <td>{{ company_info.hr_email }}</td>
                </tr>
                <tr>
                    <td>第二位人資姓名</td>
                    <td>{{ company_info.hr2_name }}</td>
                </tr>
                <tr>
                    <td>第二位人資手機</td>
                    <td>{{ company_info.hr2_phone }}</td>
                </tr>
                <tr>
                    <td>第二位人資電話</td>
                    <td>{{ company_info.hr2_mobile }}</td>
                </tr>
                <tr>
                    <td>第二位人資傳真</td>
                    <td>{{ company_info.hr2_fax }}</td>
                </tr>
                <tr>
                    <td>第二位人資Email</td>
                    <td>{{ company_info.hr2_email }}</td>
                </tr>
                <tr>
                    <td>人員備註</td>
                    <td>{{ company_info.hr_ps }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="six wide column">
            
            <div class="ui header">公司介紹</div>
            <div class="ui segment">
                <div class="ui header">公司簡介</div>
                <p style="word-wrap: break-word; ">{{ company_info.brief }}</p>
            </div>
            <div class="ui segment">
                <div class="ui header">職缺內容</div>
                <p style="word-wrap: break-word; ">{{ company_info.recruit_info }}</p>
            </div>
            <div class="ui segment">
                <div class="ui header">應徵方式</div>
                <p>{{ company_info.recruit_url }}</p>
            </div>
            <div class="ui header">職缺列表</div>
            
            <table class="ui celled table">
            <thead>
                <tr>
                <th>名稱</th>
                <th>數量</th>
                <th>內容</th>
                <th>備註</th>
                </tr>
            </thead>
                
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td data-label="名稱">
                        {{ job.title }}
                        {% if job.english_title %}
                            {{ job.english_title }}
                        {% endif %}
                    </td>
                    <td data-label="數量">{{ job.quantity }}</td>
                    <td data-label="內容">
                        {{ job.description }}
                        {% if job.english_description %}
                            {{ job.english_description }}
                        {% endif %}
                    </td>
                    <td data-label="備註">
                        {{ job.note }}
                        {% if job.english_note %}
                            {{ job.english_note }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
                
            </table>
            
            <p style="color:red;">以上資料皆會顯示在職缺列表中</p>
        </div>
    </div>
{% endblock %}
