.content{
	color:white !important;
}
.icon{
	color: white !important;
}
.tech-logo-wrapper{
	position:absolute;
	bottom:1em;
	margin:auto;
}
.tech-logo-wrapper img{
	max-height: 25px;
}

.ui.white.header{
    color:white !important;
}

.link.light.blue {
	color: #ADD8E6 !important;
}