#navtop{
	margin:auto;
	width:95%;
}

#navtop_outer{
	padding:0.5em;
  margin-bottom:0;
}

.ui.segment{
  margin-top:0;
}

.ui.inverted.pantone.menu{
  background-color: #0033A0;
  margin: 0 0 1rem 0;
  font-size : 16px;
}

/* for google translate plugin */
body > .skiptranslate {
  display: none;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
a[href="https://translate.google.com"] {
  display: none !important;
}

.nav.translate.button {
  padding:1.5rem 1rem 0 1rem !important;
}

/* for rwd */

