#navtop{
	margin:auto;
	width:95%;
}

#navtop_outer{
	padding:0.5em;
  margin-bottom:0;
}

.ui.segment{
  margin-top:0;
}

body > .skiptranslate {
  display: none;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
a[href="https://translate.google.com"] {
  display: none !important;
}
