{% extends 'recruit_public.html' %}
{% block 'content' %}
    <title>Open House 校園徵才 - 線上說明會</title>
    <h1 class="ui dividing header">Open House 校園徵才 線上說明會</h1>
    {% for seminar_info in recruit_seminar_info %}
        {{ seminar_info.content|safe }}
    {% endfor %}
    <h1 class="ui dividing header">場次時間表</h1>
    {% for week in dates_in_week %}
        <table class="ui celled striped table" style="text-align:center">
            <thead>
            <tr>
                <th>時間</th>
                {% for day in week %}
                    <th>{{ day.date|date:"m/d (D)" }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ recruit_config.session_online_1_start }}~{{ recruit_config.session_online_1_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.noon1 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_online_2_start }}~{{ recruit_config.session_online_2_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.noon2 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_online_3_start }}~{{ recruit_config.session_online_3_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.evening1 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_online_4_start }}~{{ recruit_config.session_online_4_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.evening2 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_online_5_start }}~{{ recruit_config.session_online_5_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.evening3 }}
                    </td>
                {% endfor %}
            </tr>

            </tbody>
        </table>
    {% endfor %}
{% endblock %}
