{% extends 'rdss_base.html' %}
{% load static %}

{% block 'custom_head' %}
    <title>就博會資訊 | OpenHouse 企業校園徵才</title>
    <link href={% static "css/rdss/info.css" %} rel="stylesheet">
{% endblock %}

{% block 'content' %}
    <form class="ui info form error" method="POST" action="{% url 'rdss_jobfair_info' %}">
        {% csrf_token %}
        <h1 class="ui dividing header">Open House 秋季招募 - 就博會資訊</h1>
        {% if form.errors or formset.errors %}
            <div class="ui error message">
                <div class="header">請修正以下錯誤</div>
                {{ form.errors }}
                {{ formset.errors }}
            </div>
        {% elif jobfair_info %}
            <div class="ui teal compact message">
                就博會資訊填寫已完成，您也可以修改資訊，再次送出。
            </div>
        {% endif %}
        <h3 class="ui dividing header">攤位資訊</h3>
        <div class="field required">
            <label>{{ form.signname.label }}</label>
            {{ form.signname }}
            {{ form.signname.errors }}
        </div>
        <div class="fields">
            <div class="four wide field required">
                <label>{{ form.contact.label }}</label>
                <div class="field">
                    {{ form.contact }}
                    {{ form.contact.errors }}
                </div>
            </div>
            <div class="four wide field required">
                <label>{{ form.contact_mobile.label }}</label>
                {{ form.contact_mobile }}
                {{ form.contact_mobile.errors }}
            </div>
            <div class="eight wide field required">
                <label>{{ form.contact_email.label }}</label>
                {{ form.contact_email }}
                {{ form.contact_email.errors }}
            </div>
        </div>
        <div class="fields">
            <div class="four wide field">
                <label>{{ form.meat_lunchbox.label }}</label>
                {{ form.meat_lunchbox }}
                {{ form.meat_lunchbox.errors }}
            </div>
            <div class="four wide field">
                <label>{{ form.vege_lunchbox.label }}</label>
                {{ form.vege_lunchbox }}
                {{ form.vege_lunchbox.errors }}
            </div>
        </div>
        <div class="fields">
            <div class="fourteen wide field required">
                <label>{{ form.power_req.label }}</label>
                <p>{{ form.power_req.help_text }}</p>
                {{ form.power_req }}
                {{ form.power_req.errors }}
            </div>

        </div>
        {# <div class="field">  #}
        {#     <label>{{ form.ps.label }}</label>  #}
        {#     {{ form.ps }}  #}
        {#     {{ form.ps.errors }}  #}
        {# </div>  #}
        <h3 class="ui dividing header">入校之汽車車號</h3>
        <div class="field">
            <p>說明(1)：本校進出車輛自2020年已改用車號辨識系統，為加速企業同仁離校速度與簡化繳費流程，請提供預計入校所有車輛之完整車號。</p>
            <p>說明(2)：每間企業至多提供3部汽車入校停車費抵免，惟因活動當日為平常上班日，建議多人共乘同部汽車，以免車位難覓。</p>
            <p style="color: red">★如要刪除已新增的車牌號碼，請勾選相應欄位右方的"刪除"選項</p>
            {{ formset.management_form }}
            {% for f in formset %}
                {{ f.id }}
                {{ f.info }}
                <label>
                    {{ f.license_plate_number.label }}{{ forloop.counter }}{{ f.license_plate_number.errors }}</label>
                <div class="fields">
                    <div class="fourteen wide field">
                        {{ f.license_plate_number }}
                    </div>
                    {% if formset.can_delete %}
                        <div class="two wide field">
                            <div class="ui checkbox">
                                {{ f.DELETE }}
                                <label>刪除</label>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button class="ui blue button" style="float: right;" type="submit">送出</button>
    </form>

{% endblock %}

