{% extends 'rdss_base.html' %}
{% load static %}

{% block 'custom_head' %}
    <title>說明會資訊 | OpenHouse 企業校園徵才</title>
    <link href={% static "css/rdss/info.css" %} rel="stylesheet">
{% endblock %}


{% block 'content' %}
    <form class="ui info form error" method="POST" action="{% url 'rdss_seminar_info' %}">
        {% csrf_token %}
        <h1 class="ui dividing header">Open House 秋季招募 - 企業說明會資訊</h1>
        {% if form.errors or formset.errors %}
            <div class="ui error message">
                <div class="header">請修正以下錯誤</div>
                {{ form.errors }}
                {{ formset.errors }}
            </div>
        {% elif seminar_info %}
            <div class="ui blue compact message">
                說明會資訊填寫已完成，您也可以修改資訊，再次送出。
            </div>
        {% endif %}
        <div class="ui error message">
            未填寫者視同放棄正名權利，由本組自行填寫，企業不得有異議。 主題_留空
        </div>
        <h3 class="ui dividing header">主題資訊</h3>
        <div class="field required">
            <label>{{ form.topic.label }}{{ form.topic.errors }} </label>
            <div class="field">
                {{ form.topic }}
            </div>
        </div>
        <div class="fields">
            <div class="four wide field required">
                <label>{{ form.speaker.label }}{{ form.speaker.errors }}</label>
                <div class="field">
                    {{ form.speaker }}
                </div>
            </div>
            <div class="four wide field required">
                <label>{{ form.speaker_title.label }}{{ form.speaker_title.errors }}</label>
                <div class="field">
                    {{ form.speaker_title }}
                </div>
            </div>
            <div class="eight wide field required">
                <label>{{ form.speaker_email.label }}{{ form.speaker_email.errors }}</label>
                <div class="field">
                    {{ form.speaker_email }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="four wide field required">
                <label>{{ form.contact.label }}{{ form.contact.errors }}</label>
                <div class="field">
                    {{ form.contact }}
                </div>
            </div>
            <div class="four wide field required">
                <label>{{ form.contact_mobile.label }}{{ form.contact_mobile.errors }}</label>
                <div class="field">
                    {{ form.contact_mobile }}
                </div>
            </div>
            <div class="eight wide field required">
                <label>{{ form.contact_email.label }}{{ form.contact_email.errors }}</label>
                <div class="field">
                    {{ form.contact_email }}
                </div>
            </div>
        </div>
        {#        <div class="two fields">#}
        {#            <div class="field">#}
        {#                <label>{{ form.attendees.label }}{{ form.attendees.errors }}</label>#}
        {#                <p>至多提供2份人資餐點，如有素食請註明</p>#}
        {#                <div class="field">#}
        {#                    {{ form.attendees }}#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="field">#}
        {#                <label>{{ form.snack_box.label }}{{ form.snack_box.errors }}</label>#}
        {#                <p>基本提供40份餐點給參與同學(費用已含在活動費用中)，企業可加碼付費增加數量</p>#}
        {#                <div class="field">#}
        {#                    {{ form.snack_box }}#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="field">
            <label>{{ form.ps.label }}{{ form.ps.errors }}</label>
            <div class="field">
                {{ form.ps }}
            </div>
        </div>
        {#        <h3 class="ui dividing header">入校之汽車車號</h3>#}
        {#        <div class="field">#}
        {#            <p>說明(1)：本校進出車輛自2020年已改用車號辨識系統，為加速企業同仁離校速度與簡化繳費流程，請提供預計入校所有車輛之完整車號。</p>#}
        {#            <p>說明(2)：每間企業至多提供2部汽車入校停車費抵免，惟因活動當日為平常上班日，建議多人共乘同部汽車，以免車位難覓。</p>#}
        {#            <p style="color: red">★如要刪除已新增的車牌號碼，請勾選相應欄位右方的"刪除"選項</p>#}
        {#            {{ formset.management_form }}#}
        {#            {% for f in formset %}#}
        {#                {{ f.id }}#}
        {#                {{ f.info }}#}
        {#                <label>#}
        {#                    {{ f.license_plate_number.label }}{{ forloop.counter }}{{ f.license_plate_number.errors }}</label>#}
        {#                <div class="fields">#}
        {#                    <div class="fourteen wide field">#}
        {#                        {{ f.license_plate_number }}#}
        {#                    </div>#}
        {#                    {% if formset.can_delete %}#}
        {#                        <div class="two wide field">#}
        {#                            <div class="ui checkbox">#}
        {#                                {{ f.DELETE }}#}
        {#                                <label>刪除</label>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#        </div>#}
        <h3 class="ui dividing header">抽獎獎品</h3>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.qa_prize.label }}{{ form.qa_prize.errors }}</label>
                <div class="field">
                    {{ form.qa_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.qa_prize_amount.label }}{{ form.qa_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.qa_prize_amount }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.raffle_prize.label }}{{ form.raffle_prize.errors }}</label>
                <div class="field">
                    {{ form.raffle_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.raffle_prize_amount.label }}{{ form.raffle_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.raffle_prize_amount }}
                </div>
            </div>
        </div>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.attend_prize.label }}{{ form.attend_prize.errors }}</label>
                <div class="field">
                    {{ form.attend_prize }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.attend_prize_amount.label }}{{ form.attend_prize_amount.errors }}</label>
                <div class="field">
                    {{ form.attend_prize_amount }}
                </div>
            </div>
        </div>
        <h3 class="ui dividing header">餐點</h3>
        <div class="fields">
            <div class="ten wide field">
                <label>{{ form.meal.label }}{{ form.meal.errors }}</label>
                <div class="field">
                    {{ form.meal }}
                </div>
            </div>
            <div class="six wide field">
                <label>{{ form.meal_amount.label }}{{ form.meal_amount.errors }}</label>
                <div class="field">
                    {{ form.meal_amount }}
                </div>
            </div>
        </div>
        <button class="ui blue button" style="float: right;" type="submit">送出</button>
    </form>
{% endblock %}
