{% extends 'rdss_base.html' %}
{% load static %}

{% block 'custom_head' %}
    <title>活動報名 | OpenHouse 企業校園徵才</title>
    <script src={% static "js/rdss/signup_form.js" %}></script>
{% endblock %}

{% block 'content' %}
    <form class="ui form" method="POST" action="{% url 'rdss_signup' %}">
        {% csrf_token %}

        <h1 class="ui dividing header">Open House 秋季招募 - 活動報名</h1>

        {% if signup_edit_ui %}
            <div class="ui compact teal message">
                報名已完成，您也可以修改報名資料，再次送出。
            </div>
        {% endif %}

        <div class="ui message">
            <h1 id="intro" class="ui header">活動企畫書</h1>
            <p style="color:red">活動詳細內容及規範皆載於企畫書，請務必詳細閱讀</p>
            <a class="ui teal button" href={{ plan_file.upload_file.url }} target="_blank">{{ plan_file.title }}</a>
        </div>

        <div class="ui divider"></div>

        <div class="ui violet inverted segment">
            <h1 class="ui inverted header">
                <i class="calendar icon" style="color:white"></i>
                實體ECE電機說明會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width: 6em;">活動日期</td>
                    <td>{{ configs.seminar_ece_start_date|date:"Y年m月d日(D)" }} ~
                        {{ configs.seminar_ece_end_date|date:"Y年m月d日(D)" }}</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>與電機系以研究所seminar課程方式合作辦理，企業如對電機、電信、電控、電子(固態、系統+類比)此專業領域研究生有招募
                        意願，可報名此項活動。每場次15~20分鐘，徵才企業使用投影片或書面，近距離傳達公司招募、企業實習、獎學金等訊息，讓
                        學生深入了解企業。
                    </td>
                </tr>
                <tr>
                    <td>提供設備</td>
                    <td>
                        <ol class="ui list">
                            <li>可容納約180人之國際會議廳或階梯教室。</li>
                            <li>單槍投影機、投影布幕、麥克風、筆記型電腦、簡報滑鼠等。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>說明會時間和地點</td>
                    <td>
                        <ul class="ui list">
                            <li>電子所固態：10/4(二) 13：20-15：30 工程四館220室</li>
                            <li>電子所類比+系統：10/4(二) 13：20-15：30 工程四館116室</li>
                            <li>電機：10/12(三) 12:30 工程四館B1合勤講堂</li>
                            <li>電控：10/12(三) 13:20 工程五館B1國際會議廳</li>
                            <li>電信：10/12(三) 12:30 交映樓1F國際會議廳</li>
                        </ul>
                        <p><strong>※實體ECE電機企業說明會日期及時間將依企業實際報名情況再做調整</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>會員確認聯絡資訊</td>
                    <td>
                            電機資源產學聯盟
                            聯絡人：
                            電機系 胡宸語
                            charlotte@nycu.edu.tw
                            (03)5712121#54070
                            <p> ★ 加入聯盟或查詢會員狀況，請逕洽聯絡人</p>
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">選取欲報名實體ECE說明會時段</h3>
                <p>活動費用： {{ configs.session_ece_fee }} 元</p>
                {{ form.seminar_ece }}
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui blue inverted segment">
            <h1 class="ui inverted header">
                <i class="info circle icon" style="color:white"></i>
                線上企業說明會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width:8em">活動日期</td>
                    <td>{{ configs.seminar_start_date }} ~ {{ configs.seminar_end_date }}</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>活動內容 透過本校線上徵才平台辦理企業說明會，徵才企業可以即時傳達公司訊息，解說公司內部企業文化、經營理念、薪資福利制度、徵才職缺以及需求等，為學生進一步認識企業之橋樑。</td>
                </tr>
                <tr>
                    <td>提供設備</td>
                    <td>線上徵才系統平台，非單向傳播，可與學生互動。</td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">選取欲報名線上企業說明會時段</h3>
                <p>活動費用： {{ configs.session_fee }} 元</p>
                {{ form.seminar }}
                <div class="ui red button seminar_clear">清除</div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui green inverted segment">
            <h1 class="ui header">
                <i class="student icon"></i>
                實體就業博覽會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width:8em">活動日期</td>
                    <td>{{ configs.jobfair_date }}</td>
                </tr>
                <tr>
                    <td style="width:8em">活動時間</td>
                    <td>{{ configs.jobfair_start }} ~ {{ configs.jobfair_end }}</td>
                </tr>
                <tr>
                    <td>活動地點</td>
                    <td>本校交映樓中庭或浩然前廣場</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>
                        邀請多家企業廠商到學校設點，展示公司的產品或職務內容。
                        <p style="color:blue">※若報名廠商未達15家，則以協助借用場地進行面試為宜。</p>
                    </td>
                </tr>
                <tr>
                    <td>提供服務</td>
                    <td>
                        <ol class="ui list">
                            <li>本校工作人員協助報到及處理隨機突發狀況。</li>
                            <li>提供企業免費校內停車證，中午提供各廠商便當與飲水，每攤位至多提供3份；素食餐點請事先告知。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>會員確認聯絡資訊</td>
                    <td>
                        <ol class="ui list">
                            <li>
                                電機資源產學聯盟
                                聯絡人：
                                電機系 胡宸語
                                charlotte@nycu.edu.tw
                                (03)5712121#54070
                                <p>★ 加入聯盟或查詢會員狀況，請逕洽聯絡人</p>
                                
                            </li>
                            <li>國際產學聯盟總中心 (GLORIA)
                                聯絡人： 徐毓晴
                                vanessahsu@nycu.edu.tw
                                (03)5712121#71106 
                                <p>★ 加入聯盟或查詢會員狀況，請逕洽聯絡人</p>
                            </li>
                        </ol>
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">報名實體就業博覽會</h3>
                <p>活動費用：攤位每單位 {{ configs.jobfair_booth_fee }} 元，線上+實體就業博覽會：攤位每單位 {{ configs.jobfair_booth_fee }} 元，額滿為止。</p>
                <br>
                <div class="ui labeled input">
                    <div class="ui label">
                        實體就業博覽會攤位數量
                    </div>
                    {{ form.jobfair }}
                </div>
                <div class="ui yellow message">
                    若報名廠商未達 15 家,則以協助借用場地進行面試為宜
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui teal inverted segment">
            <h1 class="ui header">
                <i class="laptop icon"></i>
                線上就業博覽會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width:8em">活動日期</td>
                    <td>
                        <p>開放服務時段： {{ configs.jobfair_online_start }} ~ {{ configs.jobfair_online_end }}</p>
                        {# <p>系統宣傳抽獎日期： {{ configs.jobfair_drawing_start }} ~ {{ configs.jobfair_drawing_end }}</p> #}
                    </td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>
                        透過本校線上徵才平台辦理就業博覽會，徵才企業可透過平台與學生面談、即時訊息或文字交流。學生在系統平台以遊戲方式闖關，並可留下歷程。
                    </td>
                </tr>
                <tr>
                    <td>提供服務</td>
                    <td>
                        線上徵才系統平台，非單向傳播，可與學生互動。
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">報名線上就業博覽會</h3>
                <p>活動費用： {{ configs.jobfair_online_fee }} 元，線上+實體就業博覽會：攤位每單位 {{ configs.jobfair_booth_fee }} 元，額滿為止。(同時報名實體就博會之企業，線上就博會：免費)</p>
                <div class="ui checkbox">
                        {{ form.jobfair_online }}
                        <label style="color:black">{{ form.jobfair_online.label }}</label>
                    </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui black inverted segment">
            <h1 class="ui header">
                <i class="users icon" style="color:white"></i>
                企業導師諮詢
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width:8em">活動日期</td>
                    <td>2021 年 10 月 - 11 月</td>
                </tr>

                <tr>
                    <td>活動內容</td>
                    <td>
                        本活動內容擬邀請企業人資和各領域資深主管、職涯專業諮商師蒞校擔任企業職場老師或職涯教練，以一對一近距離指導方式，為本校同學進行個人生涯發展規劃及職涯諮詢指導、履歷寫作、面試技巧，讓學生發掘自我潛能並在起跑點上更具備潛在優勢。
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>
                        <ol class="ui list">
                            <li>業師每次駐點至少2小時，企業可於報名系統上勾選擔任「企業職場導師」意願，擔任企業導師可為人資或是各部門技術及行政主管；主辦單位保留最終邀請企業職涯導師名單之權利。</li>
                            <li>一對一職涯諮詢服務：同學可透過活動網頁瀏覽業師所屬專業領域來選定業師並進行預約。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>活動對象</td>
                    <td>
                        陽明交大全體學生，以具秋季招募申請資格之學生優先。
                    </td>
                </tr>
                <tr>
                    <td>回饋方案</td>
                    <td>
                        企業於報名系統上勾選此項服務，可增加選位積分10分。
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">願意提供</h3>
                <div class="ui checkbox">
                    {{ form.career_tutor }}
                    <label style="color:black">{{ form.career_tutor.label }}</label>
                </div>
            </div>
        </div>

        <div class="ui brown inverted segment">
            <h1 class="ui header">
                <i class="briefcase icon" style="color:white"></i>
                企業參訪
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width: 6em;">活動內容</td>
                    <td>藉由參觀企業來提升本校同學對企業的實際瞭解，對同學籌劃未來就業藍圖有所助益；參訪學生以應屆畢業碩博士生與大四學生優先。</td>
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>
                        <ol class="ui list">
                            <li>
                                企業可於報名系統上勾選「企業參訪」意願，<strong>參訪內容可由企業自行規劃</strong>，以介紹公司或以公司內部參觀為主，希望能夠讓本校學生多了解企業實際運行狀況；<strong>主辦單位保留最終邀請參訪活動之權利。</strong>
                            </li>
                            <li>企業參訪人數至少可接受35人以上之同學進行參訪，單趟車程不超過1.5小時為宜。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>回饋方案</td>
                    <td>企業參與本次活動可增加選位積分5分；上期邀約未回應之企業不予加分。</td>
                </tr>
            </table>
            <div class="ui segment">
                <h3 class="ui header">願意提供</h3>
                <div class="ui checked checkbox">
                    {{ form.visit }}
                    <label style="color:black">{{ form.visit.label }}</label>
                </div>
            </div>
        </div>

        <button class="ui blue button" style="float: right;" type="submit">送出資料</button>
    </form>

{% endblock %}
