{% extends 'rdss_base.html' %}
{% load static %}

{% block 'custom_head' %}
    <title>活動報名 | OpenHouse 企業校園徵才</title>
    <script src={% static "js/rdss/signup_form.js" %}></script>
    <script>
        function init() {
            var selectedValue = $('#id_seminar').val();
            if (selectedValue === 'attend') {
                    $('#seminar_choice_field').show();
            }
        }

         $(document).ready(function () {
            init();

            $('#id_seminar').change(function () {
                $('#seminar_choice_field').hide();
        
                var selectedValue = $(this).val();
                console.log(selectedValue);
        
                if (selectedValue === 'attend') {
                    $('#seminar_choice_field').show();
                }
            });
        });
    </script>
{% endblock %}

{% block 'content' %}
    {% if messages %}
        {% for message in messages %}
            <div class="ui {% if message.tags %}{{ message.tags }} message{% else %}message{% endif %}" style="width:70%;margin:auto">
                {{ message }}
            </div>
            <br />
        {% endfor %}
    {% endif %}
    <form class="ui form" method="POST" action="{% url 'rdss_signup' %}">
        {% csrf_token %}

        <h1 class="ui dividing header">Open House 秋季招募 - 活動報名</h1>

        {% if signup_info %}
            <div class="ui compact blue message">
                報名已完成，您也可以修改報名資料，再次送出。
            </div>
        {% endif %}

        <div class="ui message">
            <h1 id="intro" class="ui header">活動企畫書</h1>
            <p style="color:red">活動詳細內容及規範皆載於企畫書，請務必詳細閱讀</p>
            <a class="ui blue button" href={{ plan_file.upload_file.url }} target="_blank">{{ plan_file.title }}</a>
        </div>

        <div class="ui divider"></div>
        <div class="ui yellow inverted segment">
            <h1 class="ui inverted header">
                <i class="certificate icon" style="color:white"></i>
                企業參與調查
            </h1>

            <table class="ui celled table">
                <tr>
                    <td>專區調查</td>
                    <td>
                        攤位區域分為「一般企業」、「多元職涯專區」
                        <br/>請選擇貴公司欲參加專區
                        {{ form.zone }}
                    </td>
                </tr>
                <tr>
                    <td>過往參與調查</td>
                    <td>
                        <p>是否曾參加就業博覽會、企業說明會</p>
                        {{ form.history }}
                    </td>
                </tr>
            </table>
        </div>

        <div class="ui divider"></div>
        <div class="ui violet inverted segment">
            <h1 class="ui inverted header">
                <i class="calendar icon" style="color:white"></i>
                ECE電機說明會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width: 6em;">活動日期</td>
                    <td>{{ configs.seminar_ece_start_date|date:"Y年m月d日(D)" }} ~
                        {{ configs.seminar_ece_end_date|date:"Y年m月d日(D)" }}</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>與電機系以研究所seminar課程方式合作辦理，企業如對電機、電信、電控、電子(固態、系統+類比)此專業領域研究生有招募
                        意願，可報名此項活動。每場次15~20分鐘，徵才企業使用投影片或書面，近距離傳達公司招募、企業實習、獎學金等訊息，讓
                        學生深入了解企業。
                    </td>
                </tr>
                <tr>
                    <td>提供設備</td>
                    <td>
                        <ol class="ui list">
                            <li>可容納約180人之國際會議廳或階梯教室。</li>
                            <li>單槍投影機、投影布幕、麥克風、筆記型電腦、簡報滑鼠等。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>說明會時間和地點</td>
                    <td>
                        <p><strong>※實體ECE電機企業說明會日期及時間將依企業實際報名情況再做調整</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>會員確認聯絡資訊</td>
                    <td>
                        <ul class="ui list">
                            <li>電機資源產學聯盟聯絡人：電機系 黃瀞葳小姐 badada@nycu.edu.tw (03)5712121#54074</li>
                            <li>電子所活動聯絡人：電子所 翁珮婷小姐 heyrebecca@nycu.edu.tw (03)5712121#54103</li>
                        </ul>
                        <p> ★ 加入聯盟或查詢會員狀況，請逕洽聯絡人</p>
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">選取欲報名實體ECE說明會時段</h3>
                <p>活動費用： 每場 {{ configs.session_ece_fee }} 元</p>
                {{ form.seminar_ece }}
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui blue inverted segment">
            <h1 class="ui inverted header">
                <i class="info circle icon" style="color:white"></i>
                企業說明會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width:6em">活動日期</td>
                    <td>{{ configs.seminar_start_date }} ~ {{ configs.seminar_end_date }}</td>
                </tr>
                <tr>
                    <td>辦理方式</td>
                    <td>
                        以實體方式舉辦，企業透過該說明會可傳達公司訊息，解說公司內部企業文化、經營理念、薪資福利制度、徵才職缺以及需求等。
                        <ol class="ui list">
                            <li>企業以播放影片、簡報檔或其他方式做公司簡介，針對所需專業人才，提供必要之說明，並傳達企業專業理念與形象。</li>
                            <li>企業可自行設計活動內容並提供抽獎、餐點…等以吸引參加人潮。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>舉辦時段</td>
                    <td>
                        {% for qual_name, sessions in grouped_sessions.items %}
                            <strong>{{ qual_name }}：</strong>
                            {% for session in sessions %}
                                <li>{{ session.session_start }}-{{ session.session_end }}</li>
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">選取欲報名企業說明會時段</h3>
                <p>活動費用：</p>
                {% for choice in seminar_choices %}
                    <li>{{ choice.name }}: {{ choice.session_fee }} 元</li>
                {% endfor %}

                {{ form.seminar }}
                <div id="seminar_choice_field" style="display: none;">
                    選擇說明會類型：{{ form.seminar_type }}
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui green inverted segment">
            <h1 class="ui header">
                <i class="student icon"></i>
                就業博覽會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width:6em">活動日期</td>
                    <td>{{ configs.jobfair_date }}</td>
                </tr>
                <tr>
                    <td style="width:6em">活動時間</td>
                    <td>{{ configs.jobfair_start }} ~ {{ configs.jobfair_end }}</td>
                </tr>
                <tr>
                    <td>活動地點</td>
                    <td>本校交大校區浩然圖書館前廣場</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>
                        邀請多家企業廠商到學校設點，展示公司的產品或職務內容。
                        <p style="color:blue">※若報名廠商未達30家，將改期、順延或取消辦理</p>
                    </td>
                </tr>
                <tr>
                    <td>提供服務</td>
                    <td>
                        <ol class="ui list">
                            <li>本校工作人員協助報到及處理隨機突發狀況。</li>
                            <li>提供企業免費校內停車證，中午提供各廠商便當與飲水，素食餐點請事先告知。請依企劃書完成相關步驟</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>會員確認聯絡資訊</td>
                    <td>
                        <ol class="ui list">
                            <li>
                                電機資源產學聯盟
                                聯絡人：
                                電機系 馬駿亞小姐 ethel@nycu.edu.tw (03)5712121#54072
                                <p>★ 加入聯盟或查詢會員狀況，請逕洽聯絡人</p>
                            </li>
                            <li>
                                國際產學聯盟總中心 (GLORIA)
                                聯絡人： 
                                Peggy陸長欣小姐 peggylu@nycu.edu.tw (03)5712121#71108 (手機)0905-939-103
                                <p>★ 加入聯盟或查詢會員狀況，請逕洽聯絡人</p>
                            </li>
                        </ol>
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">報名就業博覽會</h3>
                <ol class="ui list">
                    <li>活動費用：攤位每單位 {{ configs.jobfair_booth_fee }} 元，額滿為止。</li>
                    <li>同集團數量上限為4攤，<span style="color: #0070c0;">集團可先自行合併攤位數後派某公司做集團代表，並完成報名。</span></li>
                    <li> 欲參加之「多元職涯專區」企業，請先確認網站上的自身類別，本組將參考【經濟部商工登記公示資料查詢服務】之「所營事業資料」進行覆核。</li>
                </ol>
                <div class="ui labeled input">
                    <div class="ui label">
                        就業博覽會攤位數量
                    </div>
                    {{ form.jobfair }}
                </div>
                <div class="ui yellow message">
                    若報名廠商未達 30 家，將改期、順延或取消辦理。
                </div>
            </div>
        </div>

        {# <div class="ui divider"></div> #}

        {# <div class="ui pantone inverted segment"> #}
        {#     <h1 class="ui header"> #}
        {#         <i class="laptop icon"></i> #}
        {#         線上就業博覽會 #}
        {#     </h1> #}
        {#  #}
        {#     <table class="ui celled table"> #}
        {#         <tr> #}
        {#             <td style="width:8em">活動日期</td> #}
        {#             <td> #}
        {#                 <p>開放服務時段： {{ configs.jobfair_online_start }} ~ {{ configs.jobfair_online_end }}</p> #}
        {#                 <p>系統宣傳抽獎日期： {{ configs.jobfair_drawing_start }} ~ {{ configs.jobfair_drawing_end }}</p> #}
        {#             </td> #}
        {#         </tr> #}
        {#         <tr> #}
        {#             <td>活動內容</td> #}
        {#             <td> #}
        {#                 透過本校線上徵才平台辦理就業博覽會，徵才企業可透過平台與學生面談、即時訊息或文字交流。學生在系統平台以遊戲方式闖關，並可留下歷程。 #}
        {#             </td> #}
        {#         </tr> #}
        {#         <tr> #}
        {#             <td>提供服務</td> #}
        {#             <td> #}
        {#                 線上徵才系統平台，非單向傳播，可與學生互動。 #}
        {#             </td> #}
        {#         </tr> #}
        {#     </table> #}
        {#  #}
        {#     <div class="ui segment"> #}
        {#         <h3 class="ui header">報名線上就業博覽會</h3> #}
        {#         <p>活動費用： {{ configs.jobfair_online_fee }} 元，線上+實體就業博覽會：攤位每單位 {{ configs.jobfair_booth_fee }} 元，額滿為止。(同時報名實體就博會之企業，線上就博會：免費)</p> #}
        {#         <div class="ui checkbox"> #}
        {#                 {{ form.jobfair_online }} #}
        {#                 <label style="color:black">{{ form.jobfair_online.label }}</label> #}
        {#             </div> #}
        {#     </div> #}
        {# </div> #}

        <div class="ui divider"></div>

        <div class="ui black inverted segment">
            <h1 class="ui header">
                <i class="users icon" style="color:white"></i>
                諮詢服務
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width:6em">活動日期</td>
                    <td>9月~隔年1月</td>
                </tr>

                <tr>
                    <td>活動內容</td>
                    <td>
                        擬邀請駐點業師，以一對一指導方式，提供同學職涯諮詢指導、履歷寫作、面試技巧等，期讓學生模擬面談真實情況並更了解企業運作、讓學生發掘自我潛能並在起跑點上更具備潛在優勢。
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>
                        <ol class="ui list">
                            <li>業師單次駐點至少2小時，企業可於報名系統上勾選「諮詢服務」意願，擔任諮詢導師者可為人資或是各部門技術及行政主管。</li>
                            <li>同學可透過活動網頁瀏覽業師所屬專業領域來選定業師並進行預約；主辦單位保留最終邀請企業職涯導師名單之權利，將擇期再連絡後續事宜。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>回饋方案</td>
                    <td>
                        企業若勾選本次活動，並在8/14(三)前來信說明欲辦理日期，即可增加選位積分4000分。
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">願意提供</h3>
                <div class="ui checkbox">
                    {{ form.career_tutor }}
                    <label style="color:black">{{ form.career_tutor.label }}</label>
                </div>
            </div>
        </div>
        <button class="ui blue button {% if not fill_survey %} disabled {% endif %}" style="float: right;" type="submit">送出資料</button>
    </form>
{% endblock %}
