{% extends 'rdss_base.html' %}

{% block 'custom_head' %}
    <title>報名狀況 | OpenHouse 企業校園徵才</title>
{% endblock %}

{% block 'content' %}
    <h1 class="ui dividing header">Open House 秋季招募 - 報名狀況</h1>
    <h3 class="ui dividing header">
        國立陽明交通大學OpenHouse 秋季招募 活動報名流程
    </h3>

    <div class="ui ordered steps">
        <div class="{{ step_ui.0 }} step">
            <div class="content">
                <div class="title">線上報名秋季招募活動</div>
                <div class="description">報名時間至{{ configs.rdss_signup_end }}截止</div>
            </div>
        </div>
        <div class="{{ step_ui.1 }} step">
            <div class="content">
                <div class="title">線上選時間、位置</div>
                <div class="description">請按照您的選位時間線上選位</div>
            </div>
        </div>
        <div class="{{ step_ui.2 }} step">
            <div class="content">
                <div class="title">填寫活動相關資料</div>
                <div class="description">選定位置後，填妥說明會/就博會資料</div>
            </div>
        </div>
    </div>

    <h3 class="ui dividing header">
        {{ request.user.shortname }} 報名狀況總覽
        <div align="right" style="height:30px;">
            <a>
                <button class="ui blue button" style="float: right; height:30px;" onclick="window.print();">列印繳費金額
                </button>
            </a>

            <a href={{ pay_info_file.upload_file.url }}>
                <button class="ui teal button" style="float: right; height:30px;">下載繳費資訊</button>
            </a>
        </div>
    </h3>

    {% if not signup_data %}

        <div class="ui warning icon message">
            <i class="warning icon"></i>
            <div class="content">
                <div class="header">
                    貴公司尚未報名本年度「秋季招募」徵才活動
                </div>
                <p><a href="{% url 'rdss_signup' %}">點此前往活動報名頁面</a>，活動將於{{ configs.rdss_signup_end }}截止報名</p>
            </div>
        </div>
    {% endif %}

    <div class="ui two column grid">
        <div class="column">
            <table class="ui selectable celled striped table">
                <thead>
                <tr>
                    <th>項目</th>
                    <th>狀態</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>畢業生滿意度問卷</td>
                    <td>
                        {% if fill_survey %}
                            <i class="large green checkmark icon"></i>
                            已填寫
                        {% else %}
                            <i class="large red remove icon"></i>
                            <a href="{% url 'rdss_company_survey' %}">點此填寫問卷</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>實體ECE說明會</td>
                    <td>
                        {% if signup_data.seminar_ece.all %}
                            <i class="large green check icon"></i>
                            <b>參加</b>
                            <ul class="ui divided list">
                                {% for ece in signup_data.seminar_ece.all %}
                                    <li>{{ ece }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <i class="large red x icon"></i>
                            <b>不參加</b>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>企業說明會</td>
                    <td>
                        {% if signup_data and signup_data.seminar != 'none' %}
                            <i class="large green check icon"></i>
                            <b>參加</b>
                        {% else %}
                            <i class="large red x icon"></i>
                            <b>不參加</b>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>實體就博會攤位數量</td>
                    <td>{{ signup_data.jobfair }}</td>
                </tr>
                {# <tr> #}
                {#     <td>線上就博會</td> #}
                {#     <td> #}
                {#         {% if signup_data.jobfair_online %} #}
                {#             <i class="large green check icon"></i> #}
                {#             <b>參加</b> #}
                {#         {% else %} #}
                {#             <i class="large red x icon"></i> #}
                {#             <b>不參加</b> #}
                {#         {% endif %} #}
                {#     </td> #}
                {# </tr> #}
                <tr>
                    <td>提供 諮詢服務</td>
                    <td>
                        {% if signup_data.career_tutor %}
                            <i class="large green check icon"></i>
                            <b>提供</b>
                        {% else %}
                            <i class="large red x icon"></i>
                            <b>不提供</b>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>提供 企業參訪</td>
                    <td>
                        {% if signup_data.visit %}
                            <i class="large green checkmark icon"></i>
                        {% else %}
                            <i class="large red x icon"></i>
                            <b>不提供</b>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>活動贊助金額</td>
                    <td>
                        {{ sponsor_amount }} 元
                    </td>
                </tr>
                <tr>
                    <td>活動費用</td>
                    <td>
                        {{ fee }} 元
                    </td>
                </tr>
                <tr>
                    <td>折扣費用</td>
                    <td>
                        -{{ discount }} 元
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="column">
            <table class="ui selectable celled striped table">
                <thead>
                <tr>
                    <th>項目</th>
                    <th>狀態</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>企業說明會選位時間</td>
                    <td>{{ slot_info.seminar_select_time }}</td>
                </tr>
                <tr>
                    <td>實體就博會選位時間</td>
                    <td>{{ slot_info.jobfair_select_time }}</td>
                </tr>
                <tr>
                    <td>企業說明會已選場次</td>
                    <td>{{ slot_info.seminar_slot }}</td>
                </tr>
                <tr>
                    <td>實體就博會已選攤位</td>
                    <td>編號： {{ slot_info.jobfair_slot }}</td>
                </tr>

                <tr>
                    <td>企業說明會資訊</td>
                    <td>
                        {% if seminar_info %}
                            <i class="large green checkmark icon"></i>
                            已填寫
                        {% else %}
                            <i class="large red remove icon"></i>
                            <a href="{% url 'rdss_seminar_info' %}">點此填寫</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>實體就博會資訊</td>
                    <td>
                        {% if jobfair_info %}
                            <i class="large green checkmark icon"></i>
                            已填寫
                        {% else %}
                            <i class="large red remove icon"></i>
                            <a href="{% url 'rdss_jobfair_info' %}">點此填寫</a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="ui piled segment">
            <p style="font-size: 30px">總金額: {{ total_fee }}</p>
        </div>
    </div>
{% endblock %}
