{% extends 'recruit_public.html' %}
{% block 'content' %}
    <title>Open House 校園徵才 - 線上說明會</title>
    <h1 class="ui dividing header">Open House 校園徵才 線上說明會</h1>
    {% for seminar_info in recruit_seminar_info %}
        {{ seminar_info.content|safe }}
    {% endfor %}
    <h1 class="ui dividing header">場次時間表</h1>
    <ul>
        <p>場地資訊</p>
        {% for location in locations %}
            <li style="color:{{ location.css_color }}"> {{ location.place }} </li>
        {% endfor %}
    </ul>

    <table class="ui celled striped table" style="text-align:center">
        {% for week in dates_in_week %}
            <thead>
            <tr>
                <th>時間</th>
                {% for day in week %}
                    <th>{{ day.date|date:"m/d (D)" }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ recruit_config.session_1_start }}~{{ recruit_config.session_1_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.other1 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_2_start }}~{{ recruit_config.session_2_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.noon2 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_3_start }}~{{ recruit_config.session_3_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.other2 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_4_start }}~{{ recruit_config.session_4_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.other3 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_5_start }}~{{ recruit_config.session_5_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.other4 }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_6_start }}~{{ recruit_config.session_6_end }}</td>
                {% for day in week %}
                    <td>
                        {{ day.other5 }}
                    </td>
                {% endfor %}
            </tr>

            </tbody>
        {% endfor %}
    </table>
{% endblock %}
