{% extends 'recruit_public.html' %}
{% block 'content' %}
<title>校園徵才 - 說明會</title>
<h1 class="ui header">說明會</h1>
{%for seminar_info in recruit_seminar_info%}
    {{seminar_info.content|safe}}
{%endfor%}
<h1 class="ui dividing header">場次時間表</h1>
<ul>
    <p> 場地資訊</p>
    {%for location in locations %}
        <li style="color:{{location.css_color}}"> {{location.place}} </li>
    {% endfor %}
</ul>

<table class="ui celled table" style="text-align:center">
    {% for weekday_info in week_info %}
        <thead>
            <tr>
                <th>時間</th>
                {% for weekday in weekday_info %}
                <th> {{weekday.date.month }}/{{weekday.date.day}} </th>
                {% endfor %} 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{recruit_config.session_1_start}}~{{recruit_config.session_1_end}}</td>
                {% for weekday in weekday_info %}
                <td style="color:{{weekday.other1.place.css_color}}">{{weekday.other1.company}}</td>
                {% endfor %} 
            </tr>
            <tr>    
                <td>{{recruit_config.session_2_start}}~{{recruit_config.session_2_end}}</td>
                {% for weekday in weekday_info %}
                <td style="color:{{weekday.noon.place.css_color}}">{{weekday.noon.company}}</td>
                {% endfor %} 
            </tr>
            <tr>
                <td>{{recruit_config.session_3_start}}~{{recruit_config.session_3_end}}</td>
                {% for weekday in weekday_info %}
                <td style="color:{{weekday.other2.place.css_color}}">{{weekday.other2.company}}</td>
                {% endfor %} 
            </tr>
            <tr>
                <td>{{recruit_config.session_4_start}}~{{recruit_config.session_4_end}}</td>
                {% for weekday in weekday_info %}
                <td style="color:{{weekday.other3.place.css_color}}">{{weekday.other3.company}}</td>
                {% endfor %} 
            </tr>
            <tr>
                <td>{{recruit_config.session_5_start}}~{{recruit_config.session_5_end}}</td>
                {% for weekday in weekday_info %}
                <td style="color:{{weekday.other4.place.css_color}}">{{weekday.other4.company}}</td>
                {% endfor %} 
            </tr>
            <tr>
                <td>{{recruit_config.session_6_start}}~{{recruit_config.session_6_end}}</td>
                {% for weekday in weekday_info %}
                <td style="color:{{weekday.other5.place.css_color}}">{{weekday.other5.company}}</td>
                {% endfor %} 
            </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}
