{% extends 'recruit_public.html' %}
{% block 'content' %}
    <title>校園徵才 - 說明會</title>
    <h1 class="ui header">說明會</h1>
    {% for seminar_info in recruit_seminar_info %}
        {{ seminar_info.content|safe }}
    {% endfor %}
    <h1 class="ui dividing header">場次時間表</h1>
    <ul>
        <p> 場地資訊</p>
        {% for location in locations %}
            <li style="color:{{ location.css_color }}"> {{ location.place }} </li>
        {% endfor %}
    </ul>

    <h1 id="companyIntro" class="ui dividing header">公司簡介</h1>
    <div class="ui two column grid">
        {% for session in session_info %}
            <div class="center aligned column">
                <!--<div class="ui embed" data-source="youtube" data-id="">
                </div>-->
                <p>{{ session.company }}</p>
                <p>{{ session.date }}</p>
                <p style="color:{{ session.place.css_color }}">{{ session.place }}</p>
            </div>
        {% endfor %}
    </div>

    {% block pagination %}
        {% if session_info.paginator.num_pages > 1 %}
            <br>
            <div class="ui center aligned container">
                <div class="ui pagination menu">
                    {% if session_info.has_previous %}
                        <a class="item" href="{{ request.path }}?page=1#companyIntro">First Page</a>
                        <a class="item"
                           href="{{ request.path }}?page={{ session_info.previous_page_number }}#companyIntro">{{ session_info.previous_page_number }}</a>
                    {% endif %}
                    <a class="active item"
                       href="{{ request.path }}?page={{ session_info.number }}#companyIntro">{{ session_info.number }}</a>
                    {% if session_info.has_next %}
                        <a class="item"
                           href="{{ request.path }}?page={{ session_info.next_page_number }}#companyIntro">{{ session_info.next_page_number }}</a>
                        <a class="item"
                           href="{{ request.path }}?page={{ session_info.paginator.num_pages }}#companyIntro">Last
                            Page</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
