{% extends 'recruit_public.html' %}
{% block 'content' %}
    <title>Open House 校園徵才 - 實體說明會</title>
    <h1 class="ui dividing header">Open House 校園徵才 實體說明會</h1>
    {% for seminar_info in recruit_seminar_info %}
        {{ seminar_info.content|safe }}
    {% endfor %}
    <h1 class="ui dividing header">場次時間表</h1>
    <ul>
        <p>場地資訊</p>
        {% for location in locations %}
            <li style="color:{{ location.css_color }}"> {{ location.place }} </li>
        {% endfor %}
    </ul>

    {% for week in dates_in_week %}
        <table class="ui celled striped table" style="text-align:center">
            <thead>
            <tr>
                <th>時間</th>
                {% for day in week %}
                    <th>{{ day.date|date:"m/d (D)" }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ recruit_config.session_1_start }}~{{ recruit_config.session_1_end }}</td>
                {% for day in week %}
                    <td style="color:{{ day.noon1.place_color }}">
                        {{ day.noon1.company }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_2_start }}~{{ recruit_config.session_2_end }}</td>
                {% for day in week %}
                    <td style="color:{{ day.noon2.place_color }}">
                        {{ day.noon2.company }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_3_start }}~{{ recruit_config.session_3_end }}</td>
                {% for day in week %}
                    <td style="color:{{ day.noon3.place_color }}">
                        {{ day.noon3.company }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_4_start }}~{{ recruit_config.session_4_end }}</td>
                {% for day in week %}
                    <td style="color:{{ day.evening1.place_color }}">
                        {{ day.evening1.company }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_5_start }}~{{ recruit_config.session_5_end }}</td>
                {% for day in week %}
                    <td style="color:{{ day.evening2.place_color }}">
                        {{ day.evening2.company }}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td>{{ recruit_config.session_6_start }}~{{ recruit_config.session_6_end }}</td>
                {% for day in week %}
                    <td style="color:{{ day.evening3.place_color }}">
                        {{ day.evening3.company }}
                    </td>
                {% endfor %}
            </tr>

            </tbody>
        </table>
    {% endfor %}
{% endblock %}
