{% extends 'recruit_public.html' %}
{% load staticfiles %}
{% block 'custom_head' %}
    <script src={% static "js/vote/vote.js" %}></script>
    <link href={% static "css/vote/vote.css" %} rel="stylesheet">
{% endblock %}
{% block 'content' %}
    <title>校園徵才 - 說明會</title>
    <h1 class="ui header">說明會</h1>
    {% for seminar_info in recruit_seminar_info %}
        {{ seminar_info.content|safe }}
    {% endfor %}

    <h1 id="companyIntro" class="ui dividing header"> 場次</h1>
    <div class="ui two column grid">
        {% for session in session_info %}
            <div class="center aligned column">
                <div class="ui fluid teal card">
                    {% if session.video %}
                        <div class="ui embed active" data-source="youtube" data-id="{{ session.video }}">
                        </div>
                    {% else %}
                        <div class="image">
                            <img class="ui fluid image" src="{{ session.logo }}">
                        </div>
                    {% endif %}
                    <div class="content">
                        <div class="header">{{ session.name }}</div>
                        <div class="ui divider"></div>
                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <i class="marker icon"></i>
                                    <strong>公司網址:</strong> <a target="_blank"
                                                              href="{{ session.website }}">{{ session.website }}</a>
                                </div>
                            </div>
                            {% if session.info %}
                                {% if session.info.contact_email %}
                                    <div class="item">
                                        <div class="content">
                                            <i class="mail icon"></i>
                                            <strong>聯絡信箱:</strong> <a
                                                href="mailto:{{ session.info.contact_email }}">{{ session.info.contact_email }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if session.info.contact_mobile %}
                                    <div class="item">
                                        <div class="content">
                                            <i class="text telephone icon"></i>
                                            <strong>聯絡電話:</strong> {{ session.info.contact_mobile }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if session.info %}
                            {% if session.info.application %}
                                <div class="ui divider"></div>
                                <p><strong>應徵方式:</strong></p>
                                <div class="ui left aligned basic segment">
                                    <p>{{ session.info.application|linebreaksbr }}</p>
                                </div>
                            {% endif %}
                            <div class="ui divider"></div>
                            <p><strong>簡介:</strong></p>
                            <div class="ui left aligned basic segment">
                                <p>{{ session.info.intro|linebreaksbr }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% block pagination %}
        {% if session_info.paginator.num_pages > 1 %}
            <br>
            <div class="ui center aligned container">
                <div class="ui pagination menu">
                    {% if session_info.has_previous %}
                        <a class="item" href="{{ request.path }}?page=1#companyIntro">First Page</a>
                        <a class="item"
                           href="{{ request.path }}?page={{ session_info.previous_page_number }}#companyIntro">{{ session_info.previous_page_number }}</a>
                    {% endif %}
                    <a class="active item"
                       href="{{ request.path }}?page={{ session_info.number }}#companyIntro">{{ session_info.number }}</a>
                    {% if session_info.has_next %}
                        <a class="item"
                           href="{{ request.path }}?page={{ session_info.next_page_number }}#companyIntro">{{ session_info.next_page_number }}</a>
                        <a class="item"
                           href="{{ request.path }}?page={{ session_info.paginator.num_pages }}#companyIntro">Last
                            Page</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
