{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% block extrastyle %}
{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    <h1 class="ui dividing header">OpenHouse 學生證註冊</h1>
    {% if ui_message %}
        <div class="ui {{ui_message.type}} message">{{ui_message.msg}}</div>
    {% endif %}
    <div class="ui segment">
        <form class="ui form" method="POST" action="{% url 'recruit_reg_card' %}">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <label>{{form.card_num.label}}</label>
                    {{form.card_num}} {{ form.card_num.errors }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>{{form.student_id.label}}</label>
                    {{form.student_id}} {{ form.student_id.errors }}
                </div>
                <div class="field">
                    <label>{{form.phone.label}}</label>
                    {{form.phone}} {{ form.phone.errors }}
                </div>
            </div>
            <button class="ui red submit button" type="submit">註冊</button>
        </form>
    </div>
</div>

{% endblock %}