{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <link href={% static "css/rdss/sidebar.css" %} rel="stylesheet">
    <div class="ui stackable grid" style="margin-top: 5px">
        <div class="three wide column" style="margin-left:1em">
            <br>
            <div class="ui secondary stackable vertical pointing menu" style="width:90%">
                <a class="{{ sidebar_ui.index }} item" href="{% url 'public' %}">
                    活動資訊
                </a>
                <a class="{{ sidebar_ui.list_jobs }} item" href="{% url 'list_jobs' %}">
                    職缺列表
                </a>
                {% if nav_configs.show_seminar %}
                    <a class="{{ sidebar_ui.seminar }} item" href="{% url 'seminar' %}">
                        實體說明會
                    </a>
                {% endif %}
                {% if nav_configs.show_recruit_ece_seminar %}
                    <a class="{{ sidebar_ui.ece_seminar }} item" href="{% url 'recruit_seminar_ece' %}">
                        實體ECE說明會
                    </a>
                {% endif %}
                {% if nav_configs.show_recruit_online_seminar %}
                    <a class="{{ sidebar_ui.online_seminar }} item" href="{% url 'recruit_seminar_online' %}">
                        線上說明會
                    </a>
                {% endif %}
                {% if nav_configs.show_jobfair %}
                    <a class="{{ sidebar_ui.jobfair }} item" href="{% url 'jobfair' %}">
                        實體就博會
                    </a>
                {% endif %}
                {% if nav_configs.show_recruit_online_jobfair %}
                    <a class="{{ sidebar_ui.online_jobfair }} item" href="{% url 'recruit_jobfair_online' %}">
                        線上就博會
                    </a>
                {% endif %}
                {# <a class="item" href="https://openhouse.act.nycu.edu.tw" target="_blank">  #}
                {#     線上就博會系統  #}
                {# </a>  #}
                {#                <a class="{{ sidebar_ui.query_points }} item" href="{% url 'query_points' %}">#}
                {#                    查集點#}
                {#                </a>#}
            </div>
        </div>
        <div class="twelve wide column">
            <br>
            {% block 'content' %}

            {% endblock %}
        </div>
    </div>
{% endblock %}


