{% extends 'recruit_base.html' %}
{% load static %}

{% block 'custom_head' %}
    <title>就博會選位 | OpenHouse 企業校園徵才</title>
    <script src={% static "js/recruit/Controller.js" %}></script>
    <script>
        ctrl.controller('jobfair_select', function ($scope, $window, $http, $timeout, $interval, $log) {
            var ctrl = this;
            ctrl.selected = null;

            function refresh() {
                $http.post('/company/recruit/jobfair/select_ctrl/', {"action": "query"}).success(function (response) {
                    ctrl.slot = response.data;
                    console.log(response.data);
                    ctrl.my_slot_list = response.my_slot_list;
                    ctrl.select_ctrl = response.select_ctrl;
                });
            };
            refresh();
            $interval(function () {
                refresh();
            }, 10000);

            ctrl.select = function (slot_id) {
                var data = {};
                data.action = "select";
                data.slot = slot_id;
                $http.post('/company/recruit/jobfair/select_ctrl/', data).success(function (response) {
                    refresh();
                    if (response.success) {
                        $window.alert("選位成功");
                    } else if (!response.success) {
                        $window.alert(response.msg);
                    }
                });
            };

            ctrl.cancel = function (slot_id) {
                var data = {};
                data.action = "cancel";
                data.slot = slot_id;
                $http.post('/company/recruit/jobfair/select_ctrl/', data).success(function (response) {
                    refresh();
                });
            };

        });
    </script>
{% endblock %}

{% block 'content' %}
    <h1 class="ui dividing header">Open House 春季徵才 - 實體就博會選位</h1>
    <h2 class="ui dividing header">選位注意事項</h2>
    <div class="ui message">
        <div class="ui bulleted list">
            <div class="item">
                請參考攤位圖，對應攤位編號選位。
            </div>
            <div class="item">
                於貴公司選位時間開始後，至所有廠商選位截止前，皆可自由更動位置。唯改變位置前，<strong>需先放棄已選的位置，才能重新選擇</strong>
            </div>
            <div class="item">
                由於部分時段有多廠商同時選位之情況，若出現多廠商選取同場次的情況，該時段將分發給最早送出之廠商
            </div>
            <div class="item" style="color:red">
                在選位時間內，直接按「選位」按鈕選位。並看到該場次變為紅色且顯示貴公司名稱才算選位成功
            </div>
            <div class="item" style="color:blue">
                僅在每日上班時間 {{enable_time}} ~ {{disable_time}} 內，才能選位。
            </div>
            <div class="item">
                如有任何問題，請立刻撥打活動專線：(03)5131365(林小姐) 或 (03)5712121分機31365(林小姐)
            </div>
        </div>
    </div>

    <h2 class="ui dividing header">就博會攤位圖</h2>
    {% for place_map in place_maps %}
        <h3 class="ui dividing header">{{ place_map.title }}</h3>
        <img class="ui image" src="{{ place_map.upload_file.url }}" alt="就博會攤位圖">
    {% endfor %}

    <div ng-app="oh" ng-controller="jobfair_select as ctrl">
        <br/>
        <h2 class="ui dividing header">就博會選位</h2>
        <div ng-if="ctrl.select_ctrl.display" class="ui compact warning message">{$ ctrl.select_ctrl.msg$}</div>
        <div class="ui list">
            <div class="item">
                <i class="black users icon"></i>
                    貴公司選位開始時間為：{{ jobfair_select_time }}
            </div>
            <div class="item">
                <i class="black marker icon"></i>
                    貴公司攤位數量為：{{ my_signup.jobfair }}
            </div>
            <div class="item">
                <i class="black marker icon"></i>
                    貴公司專區為：{{ my_signup.zone.name }}
            </div>
        </div>
        <div>
            <p ng-if="!ctrl.select_ctrl.btn_display" style="color:blue">目前並非選位時間，「選位」按鍵將在系統開放時出現</p>
            <p ng-if="!ctrl.select_ctrl.select_btn" style="color:red">目前並非貴公司時段，「選位」按鍵將在貴公司時段內出現</p>
        </div>
        <div class="ui segment" ng-repeat="group in ctrl.slot">
            <h3 class="ui dividing header">{$ group.display $}</h3>
            <p ng-if="!group.is_myzone">非貴公司專區</p>
            <div class="ui six column padded grid">
                <div ng-repeat="slot in group.slot_list" class="column" style="padding:0.5rem">

                    <div class="ui center aligned segment">
                        <p>攤位{$ slot.serial_no $} {$ slot.company $}</p>

                        <div ng-if="ctrl.select_ctrl.select_enable && group.is_myzone">
                            <div ng-if="ctrl.select_ctrl.btn_display">
                                <div ng-if="!(ctrl.my_slot_list|contains:slot.serial_no) && !slot.company"
                                     class="ui blue button" ng-click="ctrl.select(slot.serial_no)">
                                    選位
                                </div>
                                <div ng-if="ctrl.my_slot_list|contains:slot.serial_no"
                                     class="ui red button" ng-click="ctrl.cancel(slot.serial_no)">
                                    放棄位置
                                </div>
                            </div>
                            <div ng-if="!(ctrl.my_slot_list|contains:slot.serial_no) && slot.company"
                                 class="ui disabled button">
                                已選定
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
