{% extends 'recruit_base.html' %}
{% load static %}

{% block 'custom_head' %}
    <title>活動報名 | OpenHouse 企業校園徵才</title>
    <script src={% static "js/rdss/signup_form.js" %}></script>
{% endblock %}

{% block 'content' %}
    <form class="ui form" method="POST" action="{% url 'recruit_signup' %}">
        {% csrf_token %}

        <h1 class="ui dividing header">Open House 春季徵才 - 活動報名</h1>

        {% if signup_info %}
            <div class="ui compact blue message">
                報名已完成，您也可以修改報名資料，再次送出。
            </div>
        {% endif %}

        <div class="ui message">
            <h1 id="intro" class="ui dividing header">活動企畫書</h1>
            <p style="color:red">活動詳細內容及規範皆載於企畫書，請務必詳細閱讀</p>
            <a class="ui blue button" href={{ plan_file.upload_file.url }} target="_blank">{{ plan_file.title }}</a>
        </div>

        <div class="ui divider"></div>

        <div class="ui yellow inverted segment">
            <h1 class="ui inverted header">
                <i class="certificate icon" style="color:white"></i>
                企業參與調查
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width: 6em;">首次參展</td>
                    <td>
                        是否為首次參展？
                        {{ form.first_participation }}
                    </td>
                </tr>
                <tr>
                    <td>專區調查</td>
                    <td>
                        攤位區域分為「一般企業」、「人文、管理與金融企業」、「智慧醫療與科技企業」
                        <br/>請選擇貴公司所屬專區
                        {{ form.zone }}
                    </td>
                </tr>
                <tr>
                    <td>過往參與調查</td>
                    <td>
                        <p>是否曾參加2023年春、秋就業博覽會、企業說明會</p>
                        {{ form.history }}
                    </td>
                </tr>
            </table>
        </div>

        <div class="ui divider"></div>

        <div class="ui violet inverted segment">
            <h1 class="ui inverted header">
                <i class="calendar icon" style="color:white"></i>
                ECE電機說明會
            </h1>

            <table class="ui celled table">
                <tr>
                    <td style="width: 6em;">活動日期</td>
                    <td>2024年3月~2024年5月 電子所、電機系將再另行公告</td>
                    <!-- <td>{{ configs.seminar_ece_start_date|date:"Y年m月d日(D)" }} ~
                        {{ configs.seminar_ece_end_date|date:"Y年m月d日(D)" }}</td> -->
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>與電機系以研究所seminar課程方式合作辦理，企業如對電機、電信、電控、電子(固態、系統+類比)此專業領域研究生有招募
                        意願，可報名此項活動。每場次15~20分鐘，徵才企業使用投影片或書面，近距離傳達公司招募、企業實習、獎學金等訊息，讓
                        學生深入了解企業。
                    </td>
                </tr>
                <tr>
                    <td>提供設備</td>
                    <td>
                        <ol class="ui list">
                            <li>可容納約180人之國際會議廳或階梯教室。</li>
                            <li>單槍投影機、投影布幕、麥克風、筆記型電腦、簡報滑鼠等。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>會員確認聯絡資訊</td>
                    <td>
                            電機資源產學聯盟
                            聯絡人：
                            電機系
                            馬駿亞小姐
                            ethel@nycu.edu.tw
                            (03)5712121#54072
                            <p> ★ 加入聯盟或查詢會員狀況，請逕洽聯絡人</p>
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">選取欲報名ECE說明會時段</h3>
                <p>活動費用： {{ configs.session_ece_fee }} 元</p>
                {{ form.seminar_ece }}
            </div>
        </div>

        <div class="ui divider"></div>
        
        

        <div class="ui blue inverted segment">
            <h1 class="ui inverted header">
                <i class="info circle icon" style="color:white"></i>
                企業說明會
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width: 6em;">活動日期</td>
                    <td>{{ configs.seminar_start_date|date:"Y年m月d日(D)" }}
                        ~ {{ configs.seminar_end_date|date:"Y年m月d日(D)" }} 額滿為止
                        <br/> ★ 3月8日周五整日不排場次
                    </td>

                </tr>
                <tr>
                    <td>活動時間</td>
                    <td>
                        <ul class="ui list">
                            <li>(每場 50 分鐘) 12:20-13:10、14:20-15:10、15:30-16:20、16:30-17:20</li>
                            <li>(每場 90 分鐘) 18:00-19:30</li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>活動地點</td>
                    <td>交映樓國際會議廳</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>透過說明會提供完善的場地與設備，徵才企業可以近距離傳達公司訊息，解說公司內部企業文化、經營理念、薪資福利制度、徵才職缺以及需求等，為學生進一步認識企業之橋樑。</td>
                </tr>
                <tr>
                    <td>提供設備</td>
                    <td>
                        <ol class="ui list">
                            <li>可容納100至200人之國際會議廳</li>
                            <li>單槍投影機、投影布幕、麥克風、筆記型電腦、簡報滑鼠等。※如有特殊需求請務必事先告知。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>提供服務</td>
                    <td>
                        <ol class="ui list">
                            <li>本校工作人員協助報到引導及處理隨機狀況</li>
                            <li>每場將現場提供二份免費餐點和飲水，以及二張免費汽車停車證。</li>
                            <li>提供基本連線投影設備(筆記型電腦/簡報筆)，若有其他需求(線材/接頭為
                                USB-C/Thunderbolt 等特殊規格、考慮公司資訊安全等) ，請您再自行準備。</li>
                        </ol>
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">選取欲報名說明會時段</h3>
                <p>活動費用：</p>
                <ul>
                    <li>50 min: {{ configs.session_fee_short }} 元</li>
                    <li>90 min: {{ configs.session_fee_long }} 元</li>
                </ul>
                {{ form.seminar }}
            </div>
        </div>
        <div class="ui divider"></div>
        

        {#<div class="ui purple inverted segment">#}
        {#    <h1 class="ui inverted header">#}
        {#        <i class="desktop icon" style="color:white"></i>#}
        {#        線上企業說明會#}
        {#    </h1>#}
{##}
        {#    <table class="ui celled table">#}
        {#        <tr>#}
        {#            <td style="width: 6em;">活動日期</td>#}
        {#            <td>{{ configs.seminar_online_start_date|date:"Y年m月d日(D)" }} ~#}
        {#                {{ configs.seminar_online_end_date|date:"Y年m月d日(D)" }}</td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <td>活動內容</td>#}
        {#            <td>#}
        {#                <p>#}
        {#                    以線上直播串流方式舉辦，企業透過平台可傳達公司訊息，解說公司內部企業文化、經營理念、薪資福利制度、徵才職缺以及需求等。 #}
        {#                </p>#}
        {#                <ol class="ui list">#}
        {#                    <li>#}
        {#                        企業以播放影片、書面介紹或其他方式做公司簡介，針對所需專業人才，提供必要之說明，並傳達企業專業理念與形象。#}
        {#                    </li>#}
        {#                    <li>企業可自行設計活動內容並提供抽獎等以吸引參加人潮。</li>#}
        {#                </ol>#}
        {#            </td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <td>提供設備</td>#}
        {#            <td>線上徵才系統平台</td>#}
        {#        </tr>#}
        {#    </table>#}
{##}
        {#    <div class="ui segment">#}
        {#        <h3 class="ui header">選取欲報名線上說明會時段</h3>#}
        {#        <p>活動費用： {{ configs.session_online_fee }} 元</p>#}
        {#        {{ form.seminar_online }}#}
        {#    </div>#}
        {#</div>#}
{##}
        {#<div class="ui divider"></div>#}
        

        <div class="ui green inverted segment">
            <h1 class="ui header">
                <i class="student icon" style="color:white"></i>
                就業博覽會
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width: 6em;">活動日期</td>
                    <td>{{ configs.jobfair_date }}</td>
                </tr>
                <tr>
                    <td>活動時間</td>
                    <td>{{ configs.jobfair_start }} ~ {{ configs.jobfair_end }}  (09-10點為開幕式)</td>
                </tr>
                <tr>
                    <td>活動地點</td>
                    <td>{{ configs.jobfair_place }}</td>
                </tr>
                <tr>
                    <td>活動內容</td>
                    <td>
                        邀請各界企業到學校設點,展示公司的產品或業務內容,加深同
                        學對各產業現況的了解,也提供同學未來就業的參考依據,並有
                        多項宣傳和配套活動吸引同學參與。
                    </td>

                </tr>
                <tr>
                    <td>提供服務</td>
                    <td>
                        <ol class="ui list">
                            <li>本校工作人員協助報到及處理隨機突發狀況。</li>
                            <li>提供企業免費校內停車證，中午提供各廠商便當與飲水，每攤位至多提供3份；素食餐點請事先告知。</li>
                        </ol>
                    </td>
                </tr>
            </table>
            <div class="ui segment">
                <h3 class="ui header">報名就博會</h3>
                <ol class="ui list">
                    <li>活動費用：攤位每單位 {{ configs.jobfair_booth_fee }} 元，額滿為止。</li>
                    <li>同集團數量上限為6攤，<span style="color: #0070c0;">集團可先自行合併攤位數後派某公司做集團代表，並完成報名。</span></li>
                    <li> 欲參加之「人文、管理與金融專區」或「智慧醫療與科技專區」企業，請先確認網站上的自身類別，本組將參考【經濟部商工登記公示資料查詢服務】之「所營事業資料」進行覆核。</li>
                </ol>
                <div class="ui labeled input">
                    <div class="ui label">
                        就博會攤位數量
                    </div>
                    {{ form.jobfair }}
                </div>
                <!--
                <div class="ui yellow message">
                  每家廠商至多報名4個攤位，超過4攤以4攤計
                </div>
                -->
            </div>
        </div>

        <div class="ui divider"></div>
        
        {# <div class="ui pantone inverted segment">#}
        {#     <h1 class="ui header">#}
        {#         <i class="laptop icon"></i>#}
        {#         線上就業博覽會#}
        {#     </h1>#}
{# #}
        {#     <table class="ui celled table">#}
        {#         <tr>#}
        {#             <td style="width: 6em;">活動日期</td>#}
        {#             <td>#}
        {#                 <p>開放服務時段： {{ configs.jobfair_online_start }} ~ {{ configs.jobfair_online_end }}</p>#}
        {#                 {# <p>系統宣傳抽獎日期： {{ configs.jobfair_drawing_start }} ~ {{ configs.jobfair_drawing_end }}</p> #}
        {#             </td>#}
        {#         </tr>#}
        {#         <tr>#}
        {#             <td>活動內容</td>#}
        {#             <td>#}
        {#                 透過本校線上徵才平台辦理就業博覽會，徵才企業可透過平台與學生面談、即時訊息或文字交流。學生在系統平台以遊戲方式闖關，並可留下歷程。#}
        {#             </td>#}
        {#         </tr>#}
        {#         <tr>#}
        {#             <td>提供服務</td>#}
        {#             <td>#}
        {#                 線上徵才系統平台，非單向傳播，可與學生互動。#}
        {#             </td>#}
        {#         </tr>#}
        {#     </table>#}
{# #}
        {#     <div class="ui segment">#}
        {#         <h3 class="ui header">報名線上就博會</h3>#}
        {#         <p>活動費用： {{ configs.jobfair_online_fee }} 元</p>#}
        {#         <div class="ui checkbox">#}
        {#             {{ form.jobfair_online }}#}
        {#             <label style="color:black">{{ form.jobfair_online.label }}</label>#}
        {#         </div>#}
        {#     </div>#}
        {# </div>#}
{# #}
        {# <div class="ui divider"></div>#}
        
        {#<div class="ui black inverted segment">#}
        {#    <h1 class="ui header">#}
        {#        <i class="users icon" style="color:white"></i>#}
        {#        企業職場導師#}
        {#    </h1>#}
        {#    <table class="ui celled table">#}
        {#        <tr>#}
        {#            <td style="width: 6em;">活動內容</td>#}
        {#            <td>#}
        {#                本活動內容擬邀請企業人資和各領域資深主管、職涯專業諮商師蒞校擔任企業職場老師或職涯教練，以一對一近距離指導方式，為本校同學進行個人生涯發展規劃及職涯諮詢指導、履歷寫作、面試技巧，讓學生發掘自我潛能並在起跑點上更具備潛在優勢。#}
        {#            </td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <td>活動說明</td>#}
        {#            <td>#}
        {#                <ol class="ui list">#}
        {#                    <li>業師每次駐點至少2小時，企業可於報名系統上勾選擔任「企業職場導師」意願，擔任企業導師可為人資或是各部門技術及行政主管；主辦單位保留最終邀請企業職涯導師名單之權利。#}
        {#                    </li>#}
        {#                    <li>一對一職涯諮詢服務：同學可透過活動網頁瀏覽業師所屬專業領域來選定業師並進行預約。</li>#}
        {#                </ol>#}
        {#            </td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <td>回饋方案</td>#}
        {#            <td>企業參與本次活動可增加選位積分5分</td>#}
        {#        </tr>#}
        {#    </table>#}
        {#    <div class="ui segment">#}
        {#        <h3 class="ui header">願意提供</h3>#}
        {#        <div class="ui checked checkbox">#}
        {#            {{ form.career_tutor }}#}
        {#            <label style="color:black">{{ form.career_tutor.label }}</label>#}
        {#        </div>#}
        {#    </div>#}
        {#</div>#}

        {#<div class="ui divider"></div>#}
        <!-- 就職講座 -->
        <!-- <div class="ui pantone inverted segment">
            <h1>
                <i class="laptop icon"></i>
                就職講座
            </h1>
            <table class="ui celled table">

                    <tr>
                        <td>活動日期</td>
                        <td>2023年1月~6月; (暫定)星期三或星期五 12:10 ~ 17:00 (1-2 小時)</td>
                    </tr>
                    <tr>
                        <td>活動內容</td>
                        <td>
                            藉由參加講座／參訪來提升本校同學對企業的實際瞭解，對同學籌劃未來就
                            業藍圖有所助益；參加學生以應屆畢業碩博士生與大四學生優先。
                        </td>
                    </tr>
                    <tr>
                        <td>活動說明</td>
                        <td>
                            講座內容
                            <ol class="ui list">
                                <li>就職前資料準備：履歷及自傳準備、個人特質及作品的呈現方式……等</li>
                                <li>面試、就職後須知(薪資保密)、公司適應、跨國溝通/協作……等</li>
                            </ol>
                            <strong>*請企業錄取後主動來信提供可辦理講座日期及時段。</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>回饋方案</td>
                        <td>企業參與本次活動可增加 3000 分；未主動聯繫之企業下期將不予加分。</td>
                    </tr>

            </table>
            <div class="ui segment">
                <h3>願意提供</h3>
                <div class="ui checked checkbox">
                    {{form.lecture}}
                    <label style="color:black">{{form.lecture.label}}</label>
                </div>
            </div>
        </div> -->

        <!-- <div class="ui divider"></div> -->

        <!-- 諮詢服務 -->
        <div class="ui black inverted segment">
            <h1 class="ui header">
                <i class="users icon" style="color:white"></i>
                諮詢服務
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width:6em">活動日期</td>
                    <td>2024年3月~6月</td>
                </tr>

                <tr>
                    <td>活動內容</td>
                    <td>
                        擬邀請駐點業師，以一對一指導方式，提供同學職涯諮詢指導、履歷寫作、面試技巧等，期讓學生模擬面談真實情況並更了解企業運作、讓學生發掘自我潛能並在起跑點上更具備潛在優勢。
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>
                        <ol class="ui list">
                            <li>業師單次駐點3小時，企業可於報名系統上勾選擔任「企業職場導師」意願，擔任企業導師者可為人資或是各部門技術及行政主管。</li>
                            <li>同學可透過活動網頁瀏覽業師所屬專業領域來選定業師並進行預約；主辦單位保留最終邀請企業職涯導師名單之權利，將擇期再連絡後續事宜。</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>回饋方案</td>
                    <td>
                        企業若勾選本次活動，並在12/8(五)前來信說明欲辦理日期，即可增加選位積分3000分。
                    </td>
                </tr>
            </table>

            <div class="ui segment">
                <h3 class="ui header">願意提供</h3>
                <div class="ui checkbox">
                    {{ form.career_tutor }}
                    <label style="color:black">{{ form.career_tutor.label }}</label>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>

        <!-- 企業參訪 -->
        <div class="ui brown inverted segment">
            <h1 class="ui header">
                <i class="briefcase icon" style="color:white"></i>
                企業參訪
            </h1>
            <table class="ui celled table">
                <tr>
                    <td style="width:6em">活動日期</td>
                    <td>2024年3月~6月</td>
                </tr>
                <tr>
                    <td >活動內容</td>
                    <td>藉由參觀企業來提升本校同學對企業的實際瞭解，對同學籌劃未來就業藍圖有所助益；參訪學生以應屆畢業碩博士生與大四學生優先。</td>
                </tr>
                <tr>
                    <td>活動說明</td>
                    <td>
                        <ol class="ui list">
                            <li>
                                企業於報名系統上勾選「企業參訪」意願，參訪內容可由企業自行規劃，以公司內部參觀為主，希望能讓本校學生多了解企業實際運行狀況。
                            </li>
                            <li>企業應能接待至少30名以上的學生，並且單程車程時間應不超過1.5小時。車資將由主辦單位補助，上限為1萬元（超過此上限的部分需由企業自行承擔）。</li>
                            <li><strong>主辦單位保留最終邀請參訪名單之權利，將擇期再連絡後續事宜。</strong></li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>回饋方案</td>
                    <td>企業若勾選本次活動，並在12/8(五)前來信說明欲辦理日期，即可增加選位積分3000分。</td>
                </tr>
            </table>
            <div class="ui segment">
                <h3 class="ui header">願意提供</h3>
                <div class="ui checked checkbox">
                    {{ form.company_visit }}
                    <label style="color:black">{{ form.company_visit.label }}</label>
                </div>
            </div>
        </div>

        <!-- <div class="ui divider"></div>

        <div class="ui orange inverted segment">
            <h1 class="ui header">
                <i class="ticket alternate icon" style="color:white"></i>
                公司收據
            </h1>
            <div class="ui segment">
                <h3 class="ui header">{{ form.receipt_year.label }}</h3>
                <ol class="ui divided list">
                    <li><span style="color: #0070c0;">本校無法預開收據作為企業請款用途</span>，企業先行繳款後才能開立收據；
                        繳費期限為<span style="color: red; text-decoration: underline;">112年1月9日(五)</span>
                    </li>
                    <li>
                        急需2022年收據報帳者，請務必在<strong style="text-decoration: underline;">12/21(三)前</strong>完成繳款及來信告知。因政策關係，當年度繳費僅獲當年度收據。
                    </li>
                    <li>請於網頁「公司資料」選單內
                        <span style="text-decoration: underline;">確認收據開立抬頭、統編、郵寄地址、收件人等資訊</span>
                    </li>
                </ol>
                {{ form.receipt_year.errors }}
                {{ form.receipt_year }}
                {{ form.receipt_year.help_text }}
            </div>
        </div> -->


        <button class="ui blue button" style="float: right;" type="submit">送出資料</button>
    </form>
{% endblock %}
